<template>
    <div class="modal-wrapper">
        <div :class="classModal">
            <b-modal id="modal-center" :dialog-class="classModal" ref="my-modal" centered hide-header-close hide-footer>
                <template v-slot:modal-title>
                    <span  :class="classModal">{{title}}</span>
                </template>
                <p class="p2">{{ message }}</p>
                <div :class="['modal-footer', classModal]">
                    <a class="confirm-modal" @click="confirmModal()">Si, eliminar</a>
                    <a class="close-modal" @click="hideModal()">Cancelar</a>
                </div>
            </b-modal>
        </div>
    </div>
</template>
<script>
export default {
  props: {
    title: String,
    message: String,
    showModal: { type: Boolean, default: false },
    classModal: String
  },
  watch: {
    showModal: function (newVal, oldVal) {
      if (newVal) {
        this.$refs['my-modal'].show()
      } else {
        this.$refs['my-modal'].hide()
      }
    }
  },
  methods: {
    hideModal () {
    //   this.$refs['my-modal'].hide()
      this.$emit('modal-closed', true)
    },
    confirmModal () {
      this.$emit('modal-confirm', 'confirmed')
    }
  }
}
</script>
