<template>
    <div class="modal-wrapper">
        <div :class="classModal">
            <b-modal id="modal-center" ref="provider-modal"  centered hide-header-close hide-footer>
                <template v-slot:modal-title>
                    <span  :class="classModal">{{title}}</span>
                    <feather type="x" @click="hideModal" class="close-modal"></feather>
                </template>
                 <div class="box-white-wrapper">
                    <div class="item">
                        <label for="">Nombre de contacto</label>
                        <input type="text" v-model="contactOptions.contactName">
                    </div>
                    <div class="item">
                        <div class="wrap-tabs">
                            <b-tabs class="tabs-module">
                                <template v-for="(item, index) in contactOptions.contactInfo">
                                    <b-tab :key="`tab-${index}`">
                                        <template v-slot:title>
                                            <feather :type="item.tabIcon"></feather>
                                            {{ item.tabName }}
                                        </template>
                                        <div class="wpraFieldContact">
                                            <div class="item" v-for="(opt, i) in item.values" :key="i">
                                                <label for="">{{ item.tabName + ' ' + (i+1) }}</label>
                                                <vue-tel-input  v-if="item.type === 'tel'" v-model="opt.val" v-on:country-changed="countryChanged" :inputId="'phone' + item.tabName"></vue-tel-input>
                                                <input type="text" v-if="item.type === 'text'" v-model="opt.val">
                                                <feather type="x"  stroke-width="4" class="removeLine" @click="removeFieldContact(index,i)"></feather>
                                            </div>
                                        </div>
                                        <div class="addRowPlus" @click="addFieldContact(index)">
                                          <div class="circle">
                                            <feather type="plus" stroke-width="4"></feather>
                                          </div>
                                        </div>
                                    </b-tab>
                                </template>
                            </b-tabs>
                        </div>
                    </div>
                    <div class="item">
                        <label for="">Anotación</label>
                        <textarea v-model="contactOptions.contactDesc"></textarea>
                    </div>
                 </div>
                <div :class="['modal-footer', classModal]">
                    <a class="confirm-modal button-blue" @click="confirmModal()">{{title}}</a>
                </div>
            </b-modal>
        </div>
    </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
export default {
  props: {
    title: String,
    dataContact: null,
    showModal: { type: Boolean, default: false },
    classModal: String
  },
  data () {
    return {
      editPost: null,
      contactOptions: Object
    }
  },
  watch: {
    showModal: function (newVal, oldVal) {
      if (newVal) {
        this.$refs['provider-modal'].show()
      } else {
        this.$refs['provider-modal'].hide()
      }
    },
    dataContact: function (newVal, oldVal) {
      if (newVal !== null) {
        this.contactOptions = newVal.data
        this.editPost = newVal.pos
      } else {
        this.contactOptions = this.resetInfo()
      }
    }
  },
  computed: {
    ...mapState([
      'contactInfoData'
    ])
  },
  mounted () {
    this.contactOptions = this.resetInfo()
  },
  methods: {
    ...mapActions([
      'addContactInfo',
      'updateContactInfo'
    ]),
    hideModal () {
      console.log('Phone: ', this.contactOptions)
      this.$emit('modal-closed', true)
    },
    confirmModal () {
      const { contactName, contactInfo, contactDesc } = this.contactOptions
      const payload = {
        contactName,
        contactInfo,
        contactDesc
      }
      if (this.dataContact !== null) {
        const payload = {
          pos: this.editPost,
          data: {
            contactName,
            contactInfo,
            contactDesc
          }
        }
        this.updateContactInfo(payload)
      } else {
        this.addContactInfo(payload)
      }
      this.contactOptions = this.resetInfo()
      this.$emit('modal-confirm', true)
    },
    countryChanged (country) {
      console.log(country)
    },
    addFieldContact (position) {
      this.contactOptions.contactInfo[position].values.push({ val: '' })
    },
    removeFieldContact (parent, child) {
      this.contactOptions.contactInfo[parent].values.splice(child, 1)
    },
    resetInfo () {
      return {
        contactName: '',
        contactInfo: [
          {
            tabName: 'Movil',
            tabIcon: 'smartphone',
            type: 'tel',
            values: []
          },
          {
            tabName: 'Telefono',
            tabIcon: 'phone',
            type: 'tel',
            values: []
          },
          {
            tabName: 'Correo',
            tabIcon: 'mail',
            type: 'text',
            values: []
          },
          {
            tabName: 'Sitio Web',
            tabIcon: 'globe',
            type: 'text',
            values: []
          }
        ],
        contactDesc: ''
      }
    }
  }
}
</script>
