<template>
    <div class="table-responsive">
        <table class="table table-xl">
            <thead>
                <tr class="p3">
                    <th scope="col">Código</th>
                    <th scope="col">Ubicación</th>
                    <th scope="col">Inicio</th>
                    <th scope="col">Final</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Alt</th>
                    <th scope="col">Precio</th>
                    <th scope="col">%</th>
                    <th scope="col">Estado</th>
                </tr>
                </thead>
                <tbody>
                    <template v-for="(service, indice) in services">
                        <tr class="p3" :key="`tr-${indice}`">
                            <td><strong>{{ service.code }}</strong></td>
                            <td>{{ service.location }}</td>
                            <td>{{ service.start_date }}</td>
                            <td><strong class="green-color">{{ service.end_date }}</strong></td>
                            <td><img src="@/assets/images/vendedor.jpg" alt="" class="img-provider"> {{ service.provider }}</td>
                            <td>{{ service.alt }}</td>
                            <td><strong>{{ service.price }}</strong></td>
                            <td>{{ service.percentage }}</td>
                            <td><span class="changeWeb circle-point"></span> {{ service.status_text }}</td>
                        </tr>
                    </template>
                </tbody>
        </table>
    </div>
</template>

<script>
export default {
  props: {
    services: Array
  }
}
</script>
