<template>
    <div class="table-responsive">
        <table class="table table-xl">
            <thead>
                <tr class="p3">
                    <th scope="col">Código</th>
                    <th scope="col">Nombre   </th>
                    <th scope="col">Idioma</th>
                    <th scope="col">Contenido</th>
                    <th scope="col">Anotación</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <template v-for="(template, indice) in templates">
                        <tr class="p3" :key="`tr-${indice}`">
                            <td>{{ template.code }}</td>
                            <td>{{ template.title.slice(0, 24) }}..</td>
                            <td>{{ template.language }}</td>
                            <td>
                                <div class="wrapper-flex">
                                    <span class="status bg-gray">Asunto</span>
                                    <span class="status bg-color-2 color-2">Mensaje</span>
                                </div>
                            </td>
                            <td>{{ template.comments }}</td>
                            <td>
                                <div class="table-buttons">
                                  <router-link to="/create-template"><feather type="edit-3"></feather></router-link>
                                </div>
                            </td>
                        </tr>
                    </template>
                </tbody>
        </table>
    </div>
</template>
<script>
export default {
  props: {
    templates: Array
  }
}
</script>
