<template>
    <div class="table-responsive">
        <table class="table table-xl">
            <thead>
                <tr class="p3">
                    <th scope="col"><feather type="check"></feather></th>
                    <th scope="col">Código</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Servicios</th>
                    <th scope="col">Nota</th>
                </tr>
                </thead>
                <tbody>
                    <template v-for="(provider, indice) in providers">
                        <tr class="p3" :key="`tr-${indice}`">
                            <td>
                                <div class="chkb-group">
                                    <input type="checkbox" :id="`chkb-${provider.id}`" :value="provider.id" v-model="checkedProviders" :checked="selected" @change="activeEditButton()">
                                    <label :for="`chkb-${provider.id}`"></label>
                                </div>
                            </td>
                            <td  @click="editProvider(provider.id)">{{ provider.code }}</td>
                            <td  @click="editProvider(provider.id)"><span class="status">{{ provider.category_name }}</span></td>
                            <td  @click="editProvider(provider.id)">{{ provider.name }}</td>
                            <td  @click="editProvider(provider.id)"><strong>{{ provider.city }}</strong></td>
                            <td  @click="editProvider(provider.id)" class="mark-yellow">{{ provider.services }} activos</td>
                            <td  @click="editProvider(provider.id)">{{ provider.comments }}</td>
                        </tr>
                    </template>
                </tbody>
        </table>
    </div>
</template>
<script>
export default {
  props: {
    providers: Array,
    selected: { type: Boolean, default: false }
  },
  data () {
    return {
      checkedProviders: []
    }
  },
  watch: {
    selected: function (newVal, oldVal) {
      if (newVal) {
        this.providers.forEach(item => {
          this.checkedProviders.push(item.id)
        })
      } else {
        if (this.checkedProviders.length === 0 || this.checkedProviders.length === this.providers.length) {
          this.checkedProviders = []
        }
      }
    }
  },
  methods: {
    activeEditButton () {
      this.$emit('activeEditButton', this.checkedProviders)
    },
    editProvider (providerId) {
      this.$router.push({ name: 'NewProvider' })
    }
  }
}
</script>
