<template>
    <div class="table-responsive">
        <table class="table table-xl">
            <thead>
                <tr class="p3">
                    <th scope="col">Código</th>
                    <th scope="col">Nombre   </th>
                    <th scope="col">Destinos</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Valor Viaje</th>
                    <!-- <th scope="col">Anotación</th> -->
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <template v-for="(service, indice) in services">
                        <tr class="p3" :key="`tr-${indice}`">
                            <td>{{ service.code }}</td>
                            <td>{{ service.title.slice(0, 20) }}..</td>
                            <td>
                                <div class="wrapper-flex">
                                    <span v-for="(destination, index) in service.destinations.slice(0,2)" :key="index" class="status bg-gray">{{ destination }}</span>
                                </div>
                            </td>
                            <td>
                                <div class="wrapper-flex">
                                    <div :class="['circle-point','bg-color-'+service.type_color,,'color-'+service.type_color]">
                                        <feather type="user"></feather>
                                    </div>
                                    {{ service.type }}
                                </div>
                            </td>
                            <td><strong>{{ service.trip_cost }}</strong></td>
                            <!-- <td>{{ service.comments }}</td> -->
                            <td>
                                <div class="table-buttons">
                                    <a href=""><feather type="book-open"></feather></a>
                                    <a href=""><feather type="edit-3"></feather></a>
                                </div>
                            </td>
                        </tr>
                    </template>
                </tbody>
        </table>
    </div>
</template>
<script>
export default {
  props: {
    services: Array
  }
}
</script>
