borderRadius(_border = 5px)
    -webkit-border-radius _border !important
    -moz-border-radius _border !important
    border-radius _border !important

PositionFlex(_justify = space-between, _align = center, _wrap = wrap, _dir = row)
    display -webkit-box      /* OLD - iOS 6-, Safari 3.1-6 */
    display -moz-box         /* OLD - Firefox 19- (buggy but mostly works) */
    display -ms-flexbox      /* TWEENER - IE 10 */
    display -webkit-flex     /* NEW - Chrome */
    display flex
    justify-content _justify
    align-items _align
    flex-wrap _wrap
    flex-direction: _dir


PositionAbsolute(_top = inherit, _right = inherit, _bottom = inherit, _left = inherit, _x = -50%)
    position absolute
    left _left
    top _top
    bottom _bottom
    right _right
    -webkit-transform translateX(_x)
    transform translateX(_x)
