Blue-20 = #eaf4ff
Blue-30 = #b5daff
Blue-50 = #97caff
Blue-60 = #007cff
Blue-70 = #1e43b5

Grey-10 = #fafafa
Grey-20 = #f0f1f5
Grey-25 = #e1e3eb
Grey-30 =#dfe4eb
Grey-40 = #c7ccd4
Grey-45 = #ced2e0
Grey-50 = #8b8e94
Grey-55 = #787b8f
Grey-60 = #535566
Grey-70 = #1d1f2e
Grey-80 = #a2a6b8

Red-50  = #ffc9c9
Red-60  = #ff4b4b

Pink-50 = #f8c5eb
Pink-60 = #df41b6

Purple-50 = #ddcbff
Purple-60 = #905bff

Green-40  = #a6edd3
Green-50  = #b6f0e9
Green-60  = #00ccb3
Green-70  = #1ac983

Yellow-50 = #ffeec7
Yellow-60 = #ffbe3b
Yellow-70 = #ffaa00

White-20  = #f5f7fa
White-30  = #f9fafc
White-40  = #f8faff
White-50  = #f7f8fa
White-70  = #ebeff6

Orange-50 = #fccfb1
Orange-60 = #ffb318
Orange-70 = #f9914b

.display-1
    font-family: "Poppins-Bold"
    font-size: 110px
    font-size: 96px

.title-1
    font-family: "Poppins-Bold"
    font-size: 96px
    line-height: 1.4
    font-size: 68px

.title-2
    font-family: "Poppins-Bold"
    font-size: 42px
    line-height: 1.4

.title-3
    font-family: "Poppins-Bold"
    line-height: 1.4
    font-size: 28px

.title-4
    font-family: "Poppins-Bold"
    line-height: 1.4
    font-size: 22px

.title-5
    font-family: "Poppins-SemiBold"
    line-height: 1.4
    font-size: 20px

.title-6
    font-family: "Poppins-SemiBold"
    font-size: 18px
    line-height: 1.4
    
.p1
    font-family: "Poppins-Regular"
    font-size: 16px
    line-height: 1.4

.p2
    font-family: "Poppins-Regular"
    font-size: 14px

.p3
    font-family: "Poppins-Regular"
    font-size: 12px
    line-height: 1.4

.overline
    font-family: "Poppins-Medium"
    line-height: 1.4
    font-size: 13px

.caption
    font-family: "Poppins-Regular"
    line-height: 1.4
    font-size: 12px

.metaData
    font-family: "Poppins-Light"
    font-size: 11px


.warning 
    background: Yellow-50

.warning-color
    color: Yellow-60

.warning-dark
    background: Yellow-60

.success 
    background: Green-50

.success-color
    color: Green-60 !important

.success-dark
    background: Green-60 !important

.danger 
    background: Red-50

.danger-color
    color: Red-60 !important

.danger-dark
    background: Red-60

.changeWeb 
    background: Pink-50
    
.changeWeb-color
    color: Pink-60 !important

.onReserve 
    background: Purple-50
    
.onReserve-color
    color: Purple-60 !important

.white-color
    color: white !important

.white-bone
    background White-50 !important

strong 
    font-family: "Poppins-Bold"

.pl-15
    padding-left: 15px        

.status
    font-family: "Poppins-SemiBold"
    borderRadius(15px)
    PositionFlex(center,center)
    width 80px
    height 20px
    padding: 1px
    font-size: 10px

.status-grey20
    font-family: "Poppins-SemiBold"
    borderRadius(15px)
    PositionFlex(flex-start,center)
    display inline-flex  !important
    background: Grey-20
    padding 5px 20px !important 
    box-sizing: border-box
    .feather
        width: 15px
        height 15px
        margin-right: 10px

.status-blue
    PositionFlex(center,center)
    background: Blue-50
    color Blue-60

.status-purple
    PositionFlex(center,center)
    background: Purple-50
    color Purple-60 

.status-warning
    PositionFlex(center,center)
    background: Yellow-50
    color Yellow-60 
        
.count-message
    background: Yellow-60
    color white
    borderRadius(100%)
    font-size: 10px
    width: 20px
    height 20px
    font-family: "Poppins-SemiBold"
    PositionFlex(center,center)
    PositionAbsolute(inherit, 0)


.reserve
    ._bottom
        color Green-60 !important
        .circle
            background: Green-50 !important
            .feather 
                color @color
        span 
            color Green-60 !important
    &.active
        .title-2
            color Purple-60 !important
            
.forApprove 
    ._bottom
        color Red-60 !important
        .circle
            background: Red-50 !important
            .feather 
                color @color
        span 
            color Red-60 !important
    &.active
        .title-2
            color Green-60 !important

.requestChange
    ._bottom
        color Yellow-60 !important
        .circle
            background: Yellow-50 !important
            .feather 
                color @color
        span 
            color Yellow-60 !important
    &.active
        .title-2
            color Pink-60 !important

.forPayment
    &.active
        .title-2
            color Yellow-60 !important

//  status-success
//  status-changesWeb
//  changeWeb
 

 font-title-1 = 68px
 font-title-2 = 42px
 font-title-3 = 28px
 font-title-4 = 22px
 font-title-5 = 20px
 font-title-6 = 18px
 font-p-1 = 16px
 font-p-2 = 14px
 font-p-3 = 12px
 font-metadata = 13px

.bg-color-1
    background: Green-50
.color-1
    color Green-60

.bg-color-2
    background: Blue-30
    
.color-2
    color Blue-60

.bg-color-3
    background: Pink-50
.color-3
    color Pink-60

.bg-color-4
    background: Yellow-50
.color-4
    color Yellow-60

.bg-gray
    background: Grey-20

.purple
    background: Purple-50 !important
    color: Purple-60 !important

.yellow
    background: Yellow-50 !important
    color: Yellow-60 !important
    
.green
    background: Green-50 !important
    color: Green-60 !important
    
.purple
    background: Purple-50 !important
    color: Purple-60 !important

.orange
    background: Orange-50 !important
    color: Orange-70 !important

.blue
    background: Blue-30 !important
    color: Blue-60 !important

.mark-yellow
    color Yellow-70 !important
    font-family: "Poppins-SemiBold"


.width-20
    width 20px