<template>
  <div class="build-quotes">
        <div class="head">
            <div class="left">
               <a href=""><feather type="arrow-left" class="back-page" stroke-width="3"></feather></a>
               <span class="title-3">Crear cotización</span>
            </div>
        </div>
        <div class="big-boxes">
            <div class="item">
                <div class="title-6">Usar una plantilla</div>
                <div class="search-bar">
                    <SearchBar>
                        <input type="text" v-on:keyup="searchQuotes()" v-model="searchKeyword" placeholder="Encuentra una cotización" slot="inputSearch">
                    </SearchBar>
                </div>
                <div class="wrap-tabs">
                    <div class="tabs-module templates-result-search" v-if="isFilter">
                      <div class="block-title title-6">{{ countFilter }} Resultados disponibles</div>
                      <TemplateCard  :templates="allTemplates" />
                    </div>
                    <b-tabs content-class="mt-3" class="tabs-module" v-if="!isFilter">
                        <template v-for="(item, index) in tempQuotes">
                            <b-tab :title="item.tabName"  :key="`tab-${index}`">
                              <TemplateCard  :templates="item.templates" />
                            </b-tab>
                        </template>
                    </b-tabs>
                </div>
            </div>
            <div class="item fromzero">
                <div class="info title-6">Crear cotizacion desde cero</div>
                <div class="icon"><i data-feather="file-plus"></i></div>
                <div class="button-start p3">Comenzar</div>
                <router-link to="/create-quote"></router-link>
            </div>
        </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import SearchBar from '@/components/SearchBar.vue'
import TemplateCard from '@/components/TemplateCard.vue'

export default {
  name: 'Build-Quotes',
  components: {
    SearchBar,
    TemplateCard
  },
  data () {
    return {
      countFilter: 0,
      searchKeyword: null,
      isFilter: false,
      tempQuotes: this.dataTemplates,
      allTemplates: []
    }
  },
  computed: {
    ...mapState([
      'dataTemplates'
    ])
  },
  mounted () {
    this.tempQuotes = this.dataTemplates
    for (const dropdown of document.querySelectorAll('.custom-select-2-wrapper')) {
      dropdown.addEventListener('click', function () {
        this.querySelector('.custom-select-2').classList.toggle('open')
      })
    }
    for (const option of document.querySelectorAll('.custom-option')) {
      option.addEventListener('click', function () {
        if (!this.classList.contains('selected')) {
          this.parentNode.querySelector('.custom-option.selected').classList.remove('selected')
          this.classList.add('selected')
          this.closest('.custom-select-2').querySelector('.custom-select-2__trigger span').textContent = this.textContent
        }
      })
    }
    window.addEventListener('click', function (e) {
      for (const select of document.querySelectorAll('.custom-select-2')) {
        if (!select.contains(e.target)) {
          select.classList.remove('open')
        }
      }
    })
    this.statusSubMenu(false, false)
  },
  methods: {
    searchQuotes () {
      this.tempQuotes = this.dataTemplates
      this.initArrayQuotes()
      if (this.searchKeyword) {
        this.allTemplates = this.allTemplates.filter((item) => {
          return this.searchKeyword.toLowerCase().split(' ').every(v => item.title.toLowerCase().includes(v))
        })
        this.isFilter = true
        this.countFilter = this.allTemplates.length
      }
    },
    initArrayQuotes () {
      this.allTemplates = []
      this.isFilter = false
      for (var i = 0; i < this.dataTemplates.length; i++) {
        for (var x = 0; x < this.dataTemplates[i].templates.length; x++) {
          var allowAdd = this.allTemplates.filter((item) => {
            return this.dataTemplates[i].templates[x].code.toLowerCase().split(' ').every(v => item.code.toLowerCase().includes(v))
          })
          if (allowAdd.length < 1) {
            this.allTemplates.push(this.dataTemplates[i].templates[x])
          }
        }
      }
    },
    statusSubMenu (status, fixed) {
      this.$emit('statusSubMenu', status, fixed)
    }
  }
}
</script>
