<template>
  <div class="itinerary">
      <div class="head">
          <div class="dropdown-filter title-3">
            <div class="custom-select-2-wrapper">
              <div class="custom-select-2">
                <div class="custom-select-2__trigger"><span class="mine title-3">Mis Cotizaciones</span>
                  <feather type="chevron-down" class="arrow-down"></feather>
                </div>
                <div class="custom-options">
                  <span class="custom-option selected title-4" data-value="mine">Mis Cotizaciones</span>
                  <span class="custom-option title-4" data-value="all">Todas las cotizaciones</span>
                </div>
              </div>
            </div>
          </div>
          <SearchBar>
            <input type="text" v-on:keyup="searchQuotes()" v-model="searchKeyword" placeholder="Encuentra una cotización" slot="inputSearch">
          </SearchBar>
      </div>
      <div class="boxes">
        <div class="item" v-for="(FeatureItem, indice) in HeaderFeatures" :key="`box-${indice}`">
            <div :class="[`${FeatureItem.statusText}`,
                          (isActive === indice ? 'active' : ''),
                          (isActive !== false && isActive !== indice ? 'disabled' : '')
                        ]"  @click="filterQuotesList(`${FeatureItem.status}`,indice)">
              <div class="_top">
                  <p class="title-2">{{ FeatureItem.count }}</p>
                  <span class="metaData">{{ FeatureItem.title }}</span>
              </div>
              <div class="_bottom">
                  <div class="circle">
                    <feather type="trending-up"></feather>
                  </div>
                  <span class="percentage p3">{{ FeatureItem.percentage }}</span>
              </div>
            </div>
        </div>
      </div>
      <div class="block-title title-6">{{ countResult }} Resultados disponibles</div>
      <tablePreview :dataQuotes="dataQuotes"/>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import tablePreview from '@/components/TableWithPreview.vue'
import SearchBar from '@/components/SearchBar.vue'

export default {
  name: 'QuoteList',
  components: {
    tablePreview,
    SearchBar
  },
  data () {
    return {
      isActive: false,
      searchKeyword: null,
      countResult: '',
      HeaderFeatures: [
        {
          count: '250',
          title: 'En Reserva',
          percentage: '+20%',
          status: 1,
          statusText: 'reserve'
        },
        {
          count: '335',
          title: 'Por aprobar',
          percentage: '-10%',
          status: 2,
          statusText: 'forApprove'
        },
        {
          count: '21',
          title: 'Cambios Web',
          percentage: '0%',
          status: 3,
          statusText: 'requestChange'
        },
        {
          count: '250',
          title: 'Para Pago',
          percentage: '+35%',
          status: 4,
          statusText: 'forPayment'
        }
      ],
      dataQuotes: this.quotes,
      tempQuotes: Object
    }
  },
  computed: {
    ...mapState([
      'quotes'
    ])
  },
  mounted () {
    this.dataQuotes = this.quotes
    this.tempQuotes = this.quotes
    for (const dropdown of document.querySelectorAll('.custom-select-2-wrapper')) {
      dropdown.addEventListener('click', function () {
        this.querySelector('.custom-select-2').classList.toggle('open')
      })
    }
    for (const option of document.querySelectorAll('.custom-option')) {
      option.addEventListener('click', function () {
        if (!this.classList.contains('selected')) {
          this.parentNode.querySelector('.custom-option.selected').classList.remove('selected')
          this.classList.add('selected')
          this.closest('.custom-select-2').querySelector('.custom-select-2__trigger span').textContent = this.textContent
        }
      })
    }
    window.addEventListener('click', function (e) {
      for (const select of document.querySelectorAll('.custom-select-2')) {
        if (!select.contains(e.target)) {
          select.classList.remove('open')
        }
      }
    })
    this.statusSubMenu(false, false)
  },
  methods: {
    filterQuotesList (_status, _indice) {
      if (_indice !== this.isActive) {
        this.isActive = _indice
        this.dataQuotes = this.quotes.filter((quote) => {
          return quote.status === Number(_status)
        })
        this.tempQuotes = this.dataQuotes
      } else {
        this.isActive = false
        this.dataQuotes = this.quotes
      }
      this.countResult = this.dataQuotes.length
    },
    searchQuotes () {
      this.dataQuotes = this.tempQuotes
      if (this.isActive === false) {
        this.dataQuotes = this.quotes
      }
      if (this.searchKeyword) {
        this.dataQuotes = this.dataQuotes.filter((item) => {
          return this.searchKeyword.toLowerCase().split(' ').every(v => item.client.toLowerCase().includes(v))
        })
      }
      this.countResult = this.dataQuotes.length
    },
    josue () {
      console.log(22222)
    },
    statusSubMenu (status, fixed) {
      this.$emit('statusSubMenu', status, fixed)
    }
  }
}
</script>
