<template>
    <div class="booking-single">
        <div class="head">
            <div class="left">
               <router-link to="/quotes"><feather type="arrow-left" class="back-page" stroke-width="3"></feather></router-link>
               <span class="title-3">Cotización BKFT141468</span>
            </div>
            <div class="right">
                <div class="picturesHisotry">
                    <img src="@/assets/images/vendedor.jpg" alt="">
                    <img src="@/assets/images/vendedor.jpg" alt="">
                    <img src="@/assets/images/vendedor.jpg" alt="">
                </div>
                <div class="dropdown-booking-status p3 success">
                    <div class="custom-select-2-wrapper">
                        <div class="custom-select-2">
                            <div class="custom-select-2__trigger"><span class="mine p3 success-color">Por Aprobar</span>
                                <feather type="chevron-down" class="arrow-down"></feather>
                            </div>
                            <div class="custom-options">
                                <span class="custom-option selected p3" data-value="onReserved">Reservado</span>
                                <span class="custom-option p3" data-value="forPayment">Para Pago</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrap-button-actions">
                    <a href="javascript:void(0)"><feather type="globe"></feather></a>
                    <a href="javascript:void(0)"><feather type="save"></feather></a>
                    <a href="javascript:void(0)"><feather type="list"></feather></a>
                </div>
            </div>
        </div>
        <div class="title-break">
            <div class="title-6">Datos Básicos</div>
            <a href="javascript:void(0)" data-toggle="modal" data-target="#leadModal" class="p3">Editar informacion <feather type="edit">></feather></a>
        </div>
        <div class="highlights">
            <div class="two-blocks">
                <div class="title p2">Información general</div>
                <div class="wrap-items">
                    <div class="item">
                        <div class="icon"><feather type="user"></feather></div>
                        <div class="info">
                            <p class="p3"><strong>Cliente:</strong> {{ bookingInfo.client }}</p>
                            <p class="p3"><strong>Idioma:</strong> {{ bookingInfo.language }}</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon"><feather type="calendar"></feather></div>
                        <div class="info">
                            <p class="p3"><strong>Fecha Inicio:</strong> {{ bookingInfo.travel_date }}</p>
                            <p class="p3"><strong>Ciudad:</strong> {{ bookingInfo.city }}</p>
                        </div>
                    </div>
                    <div class="line-break"></div>
                    <div class="item">
                        <div class="icon"><feather type="list"></feather></div>
                        <div class="info">
                            <p class="p3"><strong>D&iacute;as de viaje::</strong> {{ bookingInfo.travel_days }} D&iacute;as</p>
                            <p class="p3"><strong>Valor:</strong> {{ bookingInfo.booking_budget }}</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon"><feather type="calendar"></feather></div>
                        <div class="info">
                            <p class="p3"><strong>Fecha final:</strong> 20 Nov 2018</p>
                            <p class="p3"><strong>Ciudad:</strong> Tortuguero</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="one-blocks">
                <div class="title p2">Sobre la ruta</div>
                <div class="wrap-items">
                    <div class="item">
                        <div class="icon"><feather type="map-pin"></feather></div>
                        <div class="info">
                            <p class="p3"><strong>Destinos por visitar:</strong></p>
                            <p class="p3">{{ bookingInfo.cities}} Destinos</p>
                        </div>
                    </div>
                    <div class="line-break"></div>
                    <div class="item">
                        <div class="icon"><feather type="file"></feather></div>
                        <div class="info">
                            <p class="p3"><strong>Servicios adquiridos:</strong></p>
                            <p class="p3">22 Servicios en el viaje</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="highlights inverse">
            <div class="two-blocks">
                <div class="title p2">Distribución</div>
                <div class="wrap-items p-3">
                    <div class="wrap-tabs">
                        <b-tabs content-class="mt-3" class="tabs-module">
                            <template v-for="(item, index) in bookingInfo.pax.rooms">
                                <b-tab :title="item.name"  :key="`tab-${index}`">
                                  <div class="room-type p3"><strong>Tipo:</strong> {{ item.type }}</div>
                                  <tablePassagers :passengers="item.detail"/>
                                </b-tab>
                            </template>
                        </b-tabs>
                    </div>
                </div>
            </div>
            <div class="one-blocks">
                <div class="title p2">Sobre los viajeros</div>
                <div class="wrap-items">
                    <div class="item">
                        <div class="icon"><feather type="user"></feather></div>
                        <div class="info">
                            <p class="p3"><strong>Adultos:</strong> {{ bookingInfo.pax.adults }} adultos</p>
                            <p class="p3"><strong>Niños:</strong> {{ bookingInfo.pax.children }} niños</p>
                        </div>
                    </div>
                    <div class="line-break"></div>
                    <div class="item">
                        <div class="icon"><feather type="map-pin"></feather></div>
                        <div class="info">
                            <p class="p3"><strong>Cantidad de habitaciones:</strong></p>
                            <p class="p3">{{ bookingInfo.pax.rooms.length }} habitaciones</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="title-break">
            <div class="title-6">Lista de servicios</div>
            <a href="javascript:void(0)" class="p3">Editar itinerario <feather type="edit">></feather></a>
        </div>
        <div class="itinerary">
            <Accordion :items="bookingInfo.itinerary.services"/>
        </div>
        <div class="service-detail">
            <div class="info">
                <h2 class="p2">{{ bookingInfo.itinerary.routes[0].place }}</h2>
                <p class="p3">{{ bookingInfo.itinerary.routes[0].description }}</p>
                <div class="webChanges">
                    <h2 class="p2">Anotaciones</h2>
                    <div class="comments">
                        <p class="p3">{{ bookingInfo.itinerary.routes[0].web_changes }}</p>
                    </div>
                </div>
            </div>
            <div class="map">
                <img src="@/assets/images/map.png" alt="" class="img-fluid responsive">
            </div>
        </div>
        <div class="service-detail wrap-gallery">
            <div class="info">
                <div class="services p3">
                    <div class="item subtitle">Lista de servicios</div>
                    <div :class="['item', `${service.type}`]" v-for="(service, i) in bookingInfo.itinerary.routes[0].services" :key="`ser-${i}`">
                        <feather type="alert-triangle"> v-if="service.type != ''"></feather>
                        <feather type="folder" v-if="service.type == ''"></feather> {{service.description}}
                    </div>
                </div>
            </div>
            <div class="thumbanils p3">
                <div class="item subtitle">Fotografías del destino</div>
                <div class="item">
                    <img src="@/assets/images/image-2.jpg" alt="">
                    <a href="javascript:void(0)"><feather type="alert-circle"></feather></a>
                </div>
                <div class="item">
                    <img src="@/assets/images/image-1.jpg" alt="">
                    <a href="javascript:void(0)"><feather type="alert-circle"></feather></a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'
import tablePassagers from '@/components/TablePax.vue'
import Accordion from '@/components/Accordion.vue'
export default {
  components: {
    tablePassagers,
    Accordion
  },
  data () {
    return {
      bookingInfo: {}
    }
  },
  computed: {
    ...mapState([
      'quotes'
    ])
  },
  beforeMount () {
    this.bookingInfo = this.quotes.filter((item) => {
      return Number(this.$route.params.id) === Number(item.booking_id)
    })
    this.bookingInfo = this.bookingInfo[0]
  },
  mounted () {
    for (const dropdown of document.querySelectorAll('.custom-select-2-wrapper')) {
      dropdown.addEventListener('click', function () {
        this.querySelector('.custom-select-2').classList.toggle('open')
      })
    }
    for (const option of document.querySelectorAll('.custom-option')) {
      option.addEventListener('click', function () {
        if (!this.classList.contains('selected')) {
          this.parentNode.querySelector('.custom-option.selected').classList.remove('selected')
          this.classList.add('selected')
          this.closest('.custom-select-2').querySelector('.custom-select-2__trigger span').textContent = this.textContent
        }
      })
    }
    window.addEventListener('click', function (e) {
      for (const select of document.querySelectorAll('.custom-select-2')) {
        if (!select.contains(e.target)) {
          select.classList.remove('open')
        }
      }
    })
    this.statusSubMenu(false, false)
  },
  methods: {
    josue () {
      console.log(this.bookingInfo)
    },
    statusSubMenu (status, fixed) {
      this.$emit('statusSubMenu', status, fixed)
    }
  }

}
</script>
