<template>
  <div :class="['subMenu-wrapper',{ 'subMenuCollpased': isActiveSubmenu}]">
    <div class="secondary-menu">
        <div class="secondary-content">
            <div class="close-sm" @click="toggleSubMenu"><feather type="chevron-left"></feather></div>
            <!-- <div class="close-sm circle" @click="toggleSubMenu"><feather type="x"></feather></div> -->
            <div class="title">{{ MenuOptions.titleMenu }}</div>
            <div class="secondary-option">
                <div class="wrap-accordion">
                  <b-card no-body v-for="(item, index) in MenuOptions.secondaryMenu" :key="index">
                      <b-card-header header-tag="header" role="tab" v-b-toggle="'menu-collapse'+index" class="collapsed">
                          <div class="wrap-title">
                              <feather :type="item.icon"></feather>
                              <span>{{item.title }}</span>
                          </div>
                          <div class="tab-actions-buttons" v-if="item.submenu">
                            <a href="javascript:void(0)" class="arrow"><feather type="chevron-right" stroke-width="3"></feather></a>
                          </div>
                      </b-card-header>
                      <b-collapse :id="'menu-collapse' + index" accordion="menu-accordion" role="tabpanel"  visible v-if="item.submenu">
                          <b-card-body>
                            <div class="submenu">
                                <div class="item" v-for="(subItem,line) in item.submenu" :key="line">
                                  <a href="">{{subItem.title}}</a>
                                </div>
                            </div>
                          </b-card-body>
                      </b-collapse>
                  </b-card>
                </div>
            </div>
            <div class="thirdMenu" v-for="(item, index) in MenuOptions.otherMenu" :key="index">
              <div class="title">{{item.title}}</div>
              <div class="options">
                  <div class="item" v-for="(subItem,line) in item.options" :key="line">
                    <feather :type="subItem.icon"></feather>
                    <a href="s">{{subItem.title}}</a>
                  </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    showSubMenu: { type: Boolean, default: false },
    mainMenuStatus: { type: Boolean, default: false },
    menuContent: Object
  },
  data () {
    return {
      scrollPosition: null,
      isActiveSubmenu: this.showSubMenu,
      MenuOptions: this.menuContent
    }
  },
  watch: {
    mainMenuStatus: function (newVal, oldVal) {
      if (!newVal) {
        this.isActiveSubmenu = false
      }
      console.log('daniela: ' + newVal)
    }
  },
  methods: {
    updateScroll () {
      this.scrollPosition = window.scrollY
    },
    toggleSubMenu () {
      this.isActiveSubmenu = !this.isActiveSubmenu
      this.$emit('toggleSubMenu', this.isActiveSubmenu, true)
    }
  },
  mounted () {
    window.addEventListener('scroll', this.updateScroll)
  }
}
</script>
