<template>
    <div class="wrap-accordion">
        <b-card no-body class="" v-for="(item, index) in items" :key="index">
            <b-card-header header-tag="header" role="tab" v-b-toggle="'collapse'+index">
                <div class="wrap-title">
                    <div class="icon"><feather type="calendar"></feather></div>
                    <span class="p2"> Día {{ (index + 1) + ' - ' + item.title }}</span>
                    <div class="places">
                        <div class="tag metaData" v-for="(tag, x) in item.tags" :key="x">{{ tag.name }}</div>
                    </div>
                </div>
                <div class="tab-actions-buttons">
                  <a href="javascript:void(0)" v-if="showTabOptions"><feather type="plus"></feather></a>
                  <a href="javascript:void(0)" v-if="showTabOptions" @click="deleteDay(index)"><feather type="trash-2"></feather></a>
                  <a href="javascript:void(0)" v-if="showTabOptions"><feather type="refresh-cw"></feather></a>
                  <a href="javascript:void(0)" class="arrow"><feather type="chevron-right"></feather></a>
                </div>
            </b-card-header>
            <b-collapse :id="'collapse' + index" accordion="my-accordion" role="tabpanel" visible>
                <b-card-body>
                    <tableBookingServices :services="item.detail"></tableBookingServices>
                </b-card-body>
            </b-collapse>
        </b-card>
    </div>
</template>
<script>
import tableBookingServices from '@/components/tables/Booking-Services.vue'
export default {
  props: {
    items: { type: Array, default: null },
    showTabOptions: { type: Boolean, default: false }
  },
  components: {
    tableBookingServices
  },
  data () {
    return {
      Josue: String
    }
  },
  methods: {
    deleteDay: function (day) {
      this.$emit('deleteDay', day)
    }
  }
}
</script>
