<template>
  <div class="add-service-wrapper">
        <div class="catalog">
            <div class="head">
                <div class="left">
                <a href="javascript:void(0)" @click="returnWizardQuote('close')"><feather type="arrow-left" class="back-page" stroke-width="3"></feather></a>
                <span class="title-3">Agregar Servicios</span>
                </div>
            </div>
            <div class="subtitle-break">Búsqueda</div>
            <div class="filter-service">
                <div class="box-white-wrapper">
                    <div class="columns">
                        <div class="item">
                            <div class="circle purple">
                                <feather type="file-text"></feather>
                            </div>
                            <input type="text" class="indent-25" placeholder="Código" v-on:keyup="searchService('code')" v-model="searchKeywordCode">
                        </div>
                        <div class="item">
                            <div class="circle yellow">
                                <feather type="map-pin"></feather>
                            </div>
                            <input type="text" class="indent-25" placeholder="Buscar ciudad">
                            <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                        </div>
                        <div class="item">
                            <div class="circle orange">
                                <feather type="box"></feather>
                            </div>
                            <input type="text" class="indent-25" placeholder="Categoria">
                            <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                        </div>
                        <div class="item">
                            <div class="circle green">
                                <feather type="box"></feather>
                            </div>
                            <input type="text" class="indent-25" placeholder="Proveedor">
                            <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                        </div>
                        <div class="item wrap-button">
                            <a href="javascript:void(0)" class="button-blue"><feather type="search"></feather></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-title title-6">{{ countFilter }} Resultados disponibles</div>
            <div class="box-white-wrapper" v-if="this.dataService.length > 0">
                <div class="table-responsive">
                    <table class="table table-xl">
                        <thead>
                            <tr class="p3">
                                <th scope="col">Codigo</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Proveedor</th>
                                <th scope="col">Ciudad</th>
                                <th scope="col">Precio ($)</th>
                                <th scope="col" class="text-right">%</th>
                                <th scope="col"><feather type="gift"></feather></th>
                            </tr>
                            </thead>
                            <tbody>
                                <template v-for="(service, index) in dataService">
                                    <tr class="p3"  :key="`tr-${index}`" @click="showPanelViewInfo()">
                                        <td>{{ service.code }}</td>
                                        <td>
                                            <span class="status">
                                                <feather type="star"></feather>
                                                {{ service.category_name }}
                                            </span>
                                        </td>
                                        <td>{{ service.name }}</td>
                                        <td>{{ service.provider_name }}</td>
                                        <td><strong>{{ service.city }}</strong></td>
                                        <td><span class="blue-row">{{ service.price }}</span></td>
                                        <td class="text-right">{{ service.percentage }}</td>
                                        <td><feather type="check" v-if="service.has_promo" class="hasPromo"></feather></td>
                                    </tr>
                                </template>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
      <div class="checkout">
        <div class="title-break">
            <div class="icon"><feather type="list"></feather></div>
            <span class="title-6">Mis Lista</span>
        </div>
        <div class="detail">
            <div class="wishlist">
                <div class="table-responsive">
                    <table class="table table-xl">
                        <thead>
                            <tr class="p3">
                                <th scope="col">Tipo</th>
                                <th scope="col">Servicio</th>
                                <th scope="col">Precio ($)</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="p3">
                                    <td><span class="circle"><feather type="box"></feather></span></td>
                                    <td>Acomodacion hotel</td>
                                    <td><strong>897</strong></td>
                                </tr>
                                <tr class="p3">
                                    <td><span class="circle"><feather type="box"></feather></span></td>
                                    <td>Acomodacion hotel</td>
                                    <td><strong>897</strong></td>
                                </tr>
                            </tbody>
                    </table>
                </div>
            </div>
            <div class="info">
                <div class="no-result" style="display: none;">
                    <div class="disclaimer title-6">Aqui se mostraran los servicios listos para agregar <i data-feather="smile"></i></div>
                </div>
            </div>
        </div>
        <a href="javascript:void(0)" class="button-blue" @click="returnWizardQuote('close')">Agregar al itinerario</a>
    </div>
    <ViewPanelInformation :statusViewPanel="true" v-if="showPanel" :showButtonActivePanel="false">
        <div slot="view-body">
            <div class="wrap-tabs">
                <b-tabs class="tabs-module">
                    <b-tab title="Reserva" active>
                        <div class="subtitle-break">Detalles</div>
                        <div class="description">
                            <div class="info p3">
                                <p>Habitacion Deluxe con mirada hacia el centro de la capital, ubicada en el corazón de la ciudad.</p>
                                <p>Perfecta para parejas que buscan privacidad sin desaprovechar la hermosa vista de la Torre.</p>
                            </div>
                            <div class="main-features p3">
                                <div class="item">
                                    <div class="icon"><check-circle-icon></check-circle-icon></div>
                                    <span>Wifi</span>
                                </div>
                                <div class="item">
                                    <div class="icon"><check-circle-icon></check-circle-icon></div>
                                    <span>Aire acondicionado</span>
                                </div>
                                <div class="item">
                                    <div class="icon"><check-circle-icon></check-circle-icon></div>
                                    <span>Ascensor</span>
                                </div>
                                <div class="item">
                                    <div class="icon"><check-circle-icon></check-circle-icon></div>
                                    <span>Caja de seguridad en bodega</span>
                                </div>
                                <div class="item">
                                    <div class="icon"><check-circle-icon></check-circle-icon></div>
                                    <span>Pet friendly</span>
                                </div>
                            </div>
                        </div>
                        <div class="subtitle-break">Incluido en este servicio</div>
                        <div class="include-in p3">
                            <div class="item">
                                <div class="icon"><feather type="star"></feather></div>
                                <span>City tour gratis</span>
                            </div>
                            <div class="item">
                                 <div class="icon"><feather type="star"></feather></div>
                                <span>Barra libre en discoteca</span>
                            </div>
                            <div class="item">
                                 <div class="icon"><feather type="star"></feather></div>
                                <span>Desayuno básico incluido</span>
                            </div>
                            <div class="item">
                                 <div class="icon"><feather type="star"></feather></div>
                                <span>Morning yoga</span>
                            </div>
                            <div class="item">
                                 <div class="icon"><feather type="star"></feather></div>
                                <span>Descuento en restaurantes aliados</span>
                            </div>
                        </div>
                        <div class="subtitle-break">Seleccionar fecha</div>
                        <div class="box-white-wrapper">
                            <div class="columns">
                                <div class="item">
                                    <label for="">Check in</label>
                                    <input type="text">
                                    <calendar-icon class="calendar"></calendar-icon>
                                </div>
                                <div class="item">
                                    <label for="">Check out</label>
                                    <input type="text">
                                    <calendar-icon class="calendar"></calendar-icon>
                                </div>
                            </div>
                        </div>
                        <div class="service-summary">
                            <div class="price title-4">TOTAL: 750 USD</div>
                            <div class="button-action">
                                <a href="javascript:void(0)" @click="addtoWhistlist()" class="button-blue">Agregar a mi lista</a>
                            </div>
                        </div>
                    </b-tab>
                    <b-tab title="Alternativas">
                        <div class="subtitle-break">Busca mas opciones para tu cliente</div>
                        <div class="search-bar">
                            <SearchBar>
                                <input type="text" placeholder="Buscar Alternativa" slot="inputSearch">
                            </SearchBar>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class="p3">
                                        <th scope="col">C&oacute;digo</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Proveedor</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col" class="max-w10"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="p3">
                                        <td scope="col"><strong>ACLBHI</strong></td>
                                        <td><span class="p3">Acomodacion del hote.</span></td>
                                        <td>Holiday</td>
                                        <td><strong>897 USD</strong></td>
                                        <td><a href="" class="addAlternative circle"><feather type="plus"></feather></a></td>
                                    </tr>
                                    <tr class="p3">
                                        <td scope="col"><strong>ACLBHI</strong></td>
                                        <td><span class="p3">Acomodacion del hote.</span></td>
                                        <td>Holiday</td>
                                        <td><strong>897 USD</strong></td>
                                        <td><a href="" class="addAlternative circle"><feather type="plus"></feather></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="wishAlternative">
                            <div class="title-break">
                                <div class="icon"><feather type="list"></feather></div>
                                <span class="title-6">Mis Lista</span>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr class="p3">
                                            <th scope="col">C&oacute;digo</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Proveedor</th>
                                            <th scope="col">Precio</th>
                                            <th scope="col" class="max-w10"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="p3">
                                            <td scope="col"><strong>ACLBHI</strong></td>
                                            <td><span class="p3">Acomodacion del hote.</span></td>
                                            <td>Holiday</td>
                                            <td><strong>897 USD</strong></td>
                                            <td><a href="" class="addAlternative circle"><minus-icon></minus-icon></a></td>
                                        </tr>
                                        <tr class="p3">
                                            <td scope="col"><strong>ACLBHI</strong></td>
                                            <td><span class="p3">Acomodacion del hote.</span></td>
                                            <td>Holiday</td>
                                            <td><strong>897 USD</strong></td>
                                            <td><a href="" class="addAlternative circle"><minus-icon></minus-icon></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </b-tab>
                    <b-tab title="Información">
                        <div class="subtitle-break">Condiciones y restricciones</div>
                        <div class="description">
                            <div class="main-features p3 infoTab">
                                <div class="item">
                                    <div class="icon"><check-circle-icon></check-circle-icon></div>
                                    <span>El check-in se puede realizar a cualquier hora.</span>
                                </div>
                                <div class="item">
                                    <div class="icon"><check-circle-icon></check-circle-icon></div>
                                    <span>El check-out es a las 2:00 PM.</span>
                                </div>
                                <div class="item">
                                    <div class="icon"><check-circle-icon></check-circle-icon></div>
                                    <span>Si se realiza cancelación del servicio 24 horas o menos antes del inicio del servicio, no se hará reembolso del dinero.Pet friendly</span>
                                </div>
                            </div>
                        </div>
                        <div class="subtitle-break">Fotografías del servicio</div>
                        <div class="gallery">
                            <div class="item">
                                <img src="@/assets/images/servicio-1.png" alt="">
                                <a href="javascript:void(0)"><feather type="alert-circle"></feather></a>
                            </div>
                            <div class="item">
                                <img src="@/assets/images/servicio-2.png" alt="">
                                <a href="javascript:void(0)"><feather type="alert-circle"></feather></a>
                            </div>
                            <div class="item">
                                <img src="@/assets/images/servicio-1.png" alt="">
                                <a href="javascript:void(0)"><feather type="alert-circle"></feather></a>
                            </div>
                        </div>
                        <div class="subtitle-break">Agrega alguna nota personalizada</div>
                        <div class="note"></div>
                    </b-tab>
                </b-tabs>
            </div>
        </div>
    </ViewPanelInformation>
</div>
</template>
<script>
import { mapState } from 'vuex'
import ViewPanelInformation from '@/components/ViewPanelInformation.vue'
import SearchBar from '@/components/SearchBar.vue'
export default {
  data () {
    return {
      showPanel: false,
      dataService: Array,
      searchKeywordCode: null,
      countFilter: 0,
      ServiceInformation: [
        {
          tabName: 'Reserva'
        },
        {
          tabName: 'Alternativas'
        },
        {
          tabName: 'Información'
        }
      ]
    }
  },
  components: {
    ViewPanelInformation,
    SearchBar
  },
  computed: {
    ...mapState([
      'servicesList'
    ])
  },
  mounted () {
    this.dataService = this.servicesList
    this.countFilter = this.dataService.length
  },
  methods: {
    showPanelViewInfo () {
      this.showPanel = !this.showPanel
    },
    searchService (column) {
      this.dataService = this.servicesList
      if (this.searchKeywordCode) {
        this.dataService = this.dataService.filter((item) => {
          return this.searchKeywordCode.toLowerCase().split(' ').every(v => item.code.toLowerCase().includes(v))
        })
      }
      this.countFilter = this.dataService.length
    },
    addtoWhistlist () {
      this.showPanel = !this.showPanel
    },
    returnWizardQuote: function (obj) {
      console.log('se fue')
      this.$emit('returnWizardQuote', obj)
    }
  }
}
</script>
