<template>
    <div class="item badgeIconWrap">
        <slot name="icon"></slot>
        <div class="info">
            <p>{{ title }}</p>
            <p :v-if="subTitle != ''">{{ subTitle }}</p>
        </div>
    </div>
</template>
<script>
export default {
  props: {
    title: { type: String, required: true },
    subTitle: { type: String, required: false }
  }
}
</script>
