<template>
    <div class="item">
        <div>
            <div class="_top">
                <p class="title-2">{{ count }}</p>
                <span class="metaData">{{ desc}}</span>
            </div>
            <div class="_bottom" v-if="showPercentage">
                <div class="circle">
                    <feather type="trending-up"></feather>
                </div>
                <span class="percentage p3">{{ FeatureItem.percentage }}</span>
            </div>
        </div>
    </div>
</template>
<script>
export default {
  props: {
    count: { type: Number, default: 0 },
    desc: { type: String, default: null }
  },
  data () {
    return {
      showPercentage: false
    }
  }
}
</script>
