<template>
    <div class="wrap-menu">
        <ul class="nav-sidebar">
            <li class="nav-item">
                <router-link to="/about" class="nav-link">
                    <feather type="home" class="nav-icon"></feather>
                    <span class="p2">General</span>
                </router-link>
                <ul class="nav-submenu">
                    <li><a href="" class="nav-link p3">Mensajes<span class="count-message">33</span></a></li>
                    <li><a href="" class="nav-link p3">Marcadores</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link focus">
                    <feather type="edit" class="nav-icon"></feather>
                    <span class="p2">Operaciones</span>
                </a>
                <ul class="nav-submenu">
                    <li class="active"><router-link to="/quotes" class="nav-link p3">Cotizaciones</router-link></li>
                    <li><router-link to="/build-quotes" class="nav-link p3">Creador</router-link></li>
                    <li><router-link to="/templates" class="nav-link p3">Plantilas</router-link></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link ">
                    <feather type="book" class="nav-icon"></feather>
                    <span class="p2">Base de datos</span>
                </a>
                <ul class="nav-submenu">
                    <li><a href="" class="nav-link p3">Clientes</a></li>
                    <li><router-link to="/providers" class="nav-link p3">Proveedores</router-link></li>
                    <li><a href="" class="nav-link p3">Servicios</a></li>
                </ul>
            </li>
        </ul>
    </div>
</template>
