<template>
    <div class="search-opt">
        <div class="search-input p3 pl-15">
            <feather type="search" stroke-width="3"></feather>
            <slot name="inputSearch"></slot>
        </div>
        <div class="custom-select-2-wrapper">
            <div class="custom-select-2">
            <div class="custom-select-2__trigger"><span class="mine p3">Filtrar</span>
                <feather type="chevron-down" class="arrow-down"></feather>
            </div>
            <div class="custom-options">
                <span class="custom-option selected p3" data-value="booking_id">Filtrar</span>
                <span class="custom-option p3" data-value="booking_id">Codigo</span>
                <span class="custom-option p3" data-value="client">Cliente</span>
                <span class="custom-option p3" data-value="agent">Agente</span>
            </div>
            </div>
        </div>
    </div>
</template>
