<template>
    <div class="sidebar" :class="{'sb-collpased': isActive}">
        <div class="main-menu">
            <div class="head">
                <a @click="toggleMenu" class="hambuger-menu">
                    <feather type="align-left"></feather>
                </a>
                <div class="logo">
                    <div class="avatar">
                        <img src="@/assets/images/vendedor.jpg" alt="">
                    </div>
                    <img src="@/assets/images/asuaire-logo.svg" alt="" class="branding">
                </div>
                <div class="bell-alert">
                    <feather type="bell" class="branding-bell"></feather>
                </div>
            </div>
            <UserProfileInfo userName="Josue Quesada" userJob="Ing Sistemas" />
            <div class="fastAccess">
                <router-link to="/create-quote" class="p3">
                    <span>Crear  cotización</span>
                    <feather type="plus"></feather>
                </router-link>
            </div>
            <CreatiappsNavMenu />
        </div>
    </div>
</template>
<script>
import CreatiappsNavMenu from '@/components/Nav-Menu.vue'
import UserProfileInfo from '@/components/User-Profile-Info'

export default {
  props: {
    collapseMenu: { type: Boolean, default: false }
  },
  components: {
    UserProfileInfo,
    CreatiappsNavMenu
  },
  data () {
    return {
      isActive: this.collapseMenu
    }
  },
  watch: {
    collapseMenu: function (newVal, oldVal) {
      // if (!newVal) {
      this.isActive = newVal
      // }
      console.log('daniela: ' + newVal)
    }
  },
  methods: {
    toggleMenu () {
      this.isActive = !this.isActive
      this.$emit('toggleMenu', this.isActive)
    }
  }
}
</script>
