<template>
    <div class="table-responsive">
        <table class="table table-xl" border="1">
            <thead v-columns-resizable>
                <tr class="p3">
                    <th scope="col">Nombre</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Nacionalidad</th>
                    <th scope="col">Pasaporte</th>
                    <th scope="col">P.Persona</th>
                </tr>
                </thead>
                <tbody>
                    <template v-for="(pax, indice) in passengers">
                        <tr class="p3" :key="`tr-${indice}`">
                            <td>{{ pax.name + ' ' + pax.last_name}}</td>
                            <td>{{ pax.age }}</td>
                            <td>{{ pax.country }}</td>
                            <td>{{ pax.dni }}</td>
                            <td>{{ pax.cost_person }}</td>
                        </tr>
                    </template>
                </tbody>
        </table>
    </div>
</template>
<style lang="stylus" scoped>
.table
    tr
        th
            border 1px solid
    tr
        td
            border 1px solid
</style>
<script>
export default {
  props: {
    passengers: Array
  }
}
</script>
