<template>
    <div class="table-responsive">
        <table class="table table-xl">
            <thead>
                <tr class="p3">
                    <th scope="col">C&oacute;digo</th>
                    <th scope="col" class="ws-140">Cliente</th>
                    <th scope="col">Registro</th>
                    <th scope="col">Fecha viaje</th>
                    <th scope="col">Vendedor</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Valor viaje</th>
                    <th scope="col">Estado</th>
                    <th scope="col" class="w-40"></th>
                </tr>
                </thead>
                <tbody>
                    <template v-for="(row, indice) in dataQuotes">
                        <tr :class="['p3', activeRow == indice ? 'active' : '' ]" :key="`tr-${indice}`">
                            <td>{{ row.booking_number }}</td>
                            <td>{{ row.client }}</td>
                            <td>{{ row.created_at }}</td>
                            <td>{{ row.travel_date }}</td>
                            <td>{{ row.agent }}</td>
                            <td>{{ row.booking_category }}</td>
                            <td><strong>{{ row.booking_budget }}</strong></td>
                            <td><span :class="['status','status-' + row.status]">{{ row.status_text }}</span></td>
                            <td>
                                <div class="table-options">
                                    <a @click="toggle(indice)" :class="activeRow == indice ? 'active' : ''"><feather type="chevron-down"></feather></a>
                                    <a href=""><feather type="bookmark" ></feather></a>
                                    <router-link to="/view-quote/1"><feather type="edit-3"></feather></router-link>
                                    <a href=""><feather type="globe"></feather></a>
                                </div>
                            </td>
                        </tr>
                        <tr v-if="opened.includes(indice)" :key="`${indice}`">
                            <td colspan="10">
                                <div class="quote-preview">
                                    <div class="top">
                                        <div class="header">
                                            <div class="title title-5">{{ row.booking_name }}</div>
                                            <div class="opt-buttons">
                                                <a href=""><feather type="book-open"></feather></a>
                                                <a href=""><feather type="globe"></feather></a>
                                                <router-link to="/view-quote/1"><feather type="edit">></feather></router-link>
                                            </div>
                                        </div>
                                        <div class="feature">
                                            <div class="item">
                                                <div class="block">
                                                    <p class="p3">Cliente</p>
                                                    <span class="p3">{{ row.client }}</span>
                                                </div>
                                                <div class="block">
                                                    <p class="p3">Idioma</p>
                                                    <span class="p3">{{ row.language }}</span>
                                                </div>
                                                <div class="block">
                                                    <p class="p3">Nacionalidad</p>
                                                    <span class="p3">{{ row.country }}</span>
                                                </div>
                                            </div>
                                            <BadgeIcon :title="row.cities + ' ciudades'" subTitle="Para Visitar">
                                                <div class="circle warning warning-color" slot="icon">
                                                    <feather type="home"></feather>
                                                </div>
                                            </BadgeIcon>
                                            <BadgeIcon :title="'$ ' + row.booking_budget" :subTitle="'por '+ row.travel_days + ' días'">
                                                <div class="circle success success-color" slot="icon">
                                                    <feather type="dollar-sign"></feather>
                                                </div>
                                            </BadgeIcon>
                                            <BadgeIcon title="20 Oct 2019" subTitle="Fecha deI viaje">
                                                <div class="circle danger danger-color" slot="icon">
                                                    <feather type="calendar"></feather>
                                                </div>
                                            </BadgeIcon>
                                        </div>
                                    </div>
                                    <div class="itinerary">
                                        <div class="title-5">Itinerario rápido</div>
                                        <div class="wrap-tabs">
                                            <b-tabs content-class="mt-3" class="tabs-module">
                                                <b-tab title="Ruta" disabled><p>I'm a disabled tab!</p></b-tab>
                                                <template v-for="(route, index) in row.itinerary.routes">
                                                    <b-tab :title="'Día ' + index"  :key="`tab-${index}`">
                                                        <div class="service-detail">
                                                            <div class="info">
                                                                <h2 class="p2">{{ route.place }}</h2>
                                                                <p class="p3">{{ route.description }}</p>
                                                                <div class="services p3">
                                                                    <div :class="['item', `${service.type}`]" v-for="(service, i) in route.services" :key="`ser-${i}`">
                                                                        <feather type="alert-triangle"> v-if="service.type != ''"></feather>
                                                                        <feather type="folder" v-if="service.type == ''"></feather> {{service.description}}
                                                                    </div>
                                                                </div>
                                                                <div class="webChanges">
                                                                    <h2 class="p2">Cambios desde la Web</h2>
                                                                    <div class="comments">
                                                                        <p class="p3">{{ route.web_changes }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="map">
                                                                <img src="@/assets/images/map.png" alt="" class="img-fluid responsive">
                                                            </div>
                                                        </div>
                                                    </b-tab>
                                                </template>
                                            </b-tabs>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </template>
                </tbody>
        </table>
    </div>
</template>

<script>
import BadgeIcon from '@/components/BadgeIcon.vue'

export default {
  props: {
    dataQuotes: Array
  },
  components: {
    BadgeIcon
  },
  data () {
    return {
      opened: [],
      activeRow: -1
    }
  },
  methods: {
    toggle (id) {
      const index = this.opened.indexOf(id)
      this.opened = []
      if (index > -1) {
        this.opened.splice(index, 1)
        this.activeRow = -1
      } else {
        this.opened.push(id)
        this.activeRow = id
        window.scrollTo(0, 0)
      }
    }
  }
}
</script>
