<template>
    <div>
        <b-table striped hover :items="dataQuotes">
            <template slot="estado" slot-scope="data">
                <span>{{data.name}}</span>
            </template>
        </b-table>
    </div>
</template>

<script>
export default {
  props: {
    dataQuotes: Array
  }
}
</script>
