<template>
    <div>
        <div class="card-template-quote" v-for="(card, index) in templates" :key="index">
            <div class="feature-image"> <img src="@/assets/images/image-1.jpg" alt=""></div>
            <div class="detail">
                <div class="title p2">{{ card.title }}</div>
                <div class="info">
                    <div class="summary">
                            <div class="count title-6">{{ card.days }} <span class="p3">Días</span></div>
                            <div class="count title-6">{{ card.services }} <span class="p3">Servicios</span></div>
                    </div>
                    <div class="tags metaData">
                        <span v-for="(destination, des_id) in card.destinations" :key="des_id">{{ destination }}</span>
                    </div>
                </div>
            </div>
            <router-link to="/create-quote" class="p2">Usar esta plantilla</router-link>
        </div>
    </div>
</template>
<script>
export default {
  props: {
    templates: Array
  }
}
</script>
