<template>
    <div class="user-info">
        <p class="p2 username">{{ userName }}</p>
        <span class="p3 job">{{ userJob }}</span>
    </div>
</template>
<script>
export default {
  props: {
    userName: String,
    userJob: String
  }
}
</script>
