<template>
    <div  :class="['view-panel-information', { 'open-view-panel': showViewPanel } ]">
        <a href="javascript:void(0)" class="showPanel" @click="openViewPanel()" v-if="showButtonActivePanel">
            <feather type="sidebar" stroke-width="2.5"></feather>
        </a>
        <div class="view-content">
            <slot name="view-body"></slot>
        </div>
    </div>
</template>
<script>
export default {
  props: {
    statusViewPanel: { type: Boolean, default: false },
    showButtonActivePanel: { type: Boolean, default: true }
  },
  data () {
    return {
      showViewPanel: false
    }
  },
  mounted () {
    this.showViewPanel = this.statusViewPanel
    console.log('statusViewPanel: ', this.showViewPanel)
  },
  methods: {
    openViewPanel () {
      this.showViewPanel = !this.showViewPanel
    }
  }
}
</script>
