<template>
    <div :class="['main-content',{'collapsed': subMenuStatus }]">
        <MenuCreateQuote @toggleSubMenu="statusSubMenu" :mainMenuStatus="olman" :showSubMenu="subMenuStatus" :menuContent="MenuOptions"/>
        <div class="provider-content">
            <div class="head">
                <div class="left">
                <a href=""><feather type="arrow-left" class="back-page" stroke-width="3"></feather></a>
                <span class="title-3">Datos Básicos</span>
                </div>
                <div class="right">
                    <div class="wrap-button-actions">
                        <a href="javascript:void(0)"><feather type="save"></feather></a>
                        <a href="javascript:void(0)"><feather type="x"></feather></a>
                    </div>
                </div>
            </div>
            <div class="new-provider-wrapper">
                <form>
                    <div class="provide-basics" v-if="tabindex == 1">
                        <div class="title-break">
                            <div class="title-6">Proveedor</div>
                        </div>
                        <div class="box-white-wrapper">
                            <div class="columns">
                                <div class="item">
                                    <label for="">Nombre</label>
                                    <input type="text">
                                </div>
                                <div class="item less40">
                                    <label for="">Código del proveedor</label>
                                    <input type="text">
                                </div>
                                <div class="item less40">
                                    <label for="">Tipo de proveedor</label>
                                    <input type="text">
                                    <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="item less40">
                                    <label for="">Nit / Cédula jurídica</label>
                                    <input type="text">
                                </div>
                                <div class="item less40">
                                    <label for="">Idioma nativo</label>
                                    <input type="text">
                                    <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                                </div>
                                <div class="item">
                                    <label for="">Razón social</label>
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                        <div class="title-break">
                            <div class="title-6">Ubicación</div>
                        </div>
                        <div class="box-white-wrapper">
                            <div class="columns">
                                <div class="item">
                                    <label for="">Pais</label>
                                    <input type="text">
                                    <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                                </div>
                                <div class="item">
                                    <label for="">Ciudad</label>
                                    <input type="text">
                                    <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                                </div>
                                <div class="item">
                                    <label for="">Código de ubicación</label>
                                    <input type="text">
                                </div>
                                <div class="item">
                                    <label for="">Código postal (Opcional)</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="columns">
                                <div class="item">
                                    <label for="">Dirección</label>
                                    <input type="text">
                                </div>
                                <div class="item">
                                    <label for="">Coordenadas google maps</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="item">
                                <img src="@/assets/images/map.png" alt="" class="map">
                            </div>
                        </div>
                        <div class="contact-provider">
                            <div class="title-break">
                                <div class="title-6">Contactos</div>
                                <div class="table-header-options">
                                    <div :class="['item', { 'active': selectedAll }]">
                                        <div class="circle">
                                            <feather type="check" stroke-width="4"></feather>
                                        </div>
                                        <a href="javascript:void(0)" @click="toggleMarkontacts()" class="p2">Seleccionar todo</a>
                                    </div>
                                    <div :class="['item', ( contactSelected.length > 0 ? 'active' : '' )]">
                                        <div class="circle">
                                            <feather type="trash-2"></feather>
                                        </div>
                                        <a href="javascript:void(0)" class="p2" @click="deleteContacInfo('toConfirm')">Eliminar</a>
                                    </div>
                                </div>
                                <div class="remove-group">
                                </div>
                            </div>
                            <div :class="['box-white-wrapper', (contactInfoData.length > 0 ? '' : 'empty-board')]">
                                <div class="table-responsive" v-if="contactInfoData.length > 0">
                                    <table class="table table-xl">
                                        <thead>
                                            <tr class="p3">
                                                <th scope="col" class="width-20 check-icon"><feather type="check"></feather></th>
                                                <th scope="col" class="max-w40">Nombre</th>
                                                <th scope="col">Contacto</th>
                                                <th scope="col">Nota especial</th>
                                                <th scope="col" class="width-20"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <template v-for="( row, index) in contactInfoData">
                                                    <tr class="p3" :key="index">
                                                        <td>
                                                            <div class="group-checkbox">
                                                                <input type="checkbox" :id="'chkb-' + index" :value="index" v-model="contactSelected" @change="statusCheckAll">
                                                                <label :for="'chkb-' + index"></label>
                                                                <div class="check"></div>
                                                            </div>
                                                        </td>
                                                        <td class="name">{{row.contactName}}</td>
                                                        <td>
                                                            <template v-for="( contact, i) in row.contactInfo" >
                                                                <template v-if="contact.values.length > 0">
                                                                    <p v-for="( value, _index) in contact.values" :key="_index + '-' + i" class="wrapper-flex">
                                                                        <feather :type="contact.tabIcon"></feather>
                                                                        <span>{{ value.val}}</span>
                                                                    </p>
                                                                </template>
                                                            </template>
                                                        </td>
                                                        <td>
                                                            <div class="notes">{{ row.contactDesc }}</div>
                                                        </td>
                                                        <td><a href="javascript:void(0)" @click="editContactRow(index)" class="circle"><feather type="edit-3"></feather></a></td>
                                                    </tr>
                                                </template>
                                            </tbody>
                                    </table>
                                </div>
                                <a href="javascript:void(0)" class="addRowPlus" @click="addContact()">
                                    <span class="circle"><feather type="plus" stroke-width="4"></feather></span>
                                    Añadir contacto
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="provider-payment" v-if="tabindex == 2">
                        <div class="provider-header">
                            <div class="item">
                                <div class="icon blue"><feather type="home"></feather></div>
                                <div class="info">
                                    <span class="p3">Proveedor</span>
                                    <p  class="p2">Hotel Rancho Grande</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon purple"><feather type="search"></feather></div>
                                <div class="info">
                                    <span class="p3">Codigo</span>
                                    <p class="p2">ACSJDT</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon orange"><feather type="map-pin"></feather></div>
                                <div class="info">
                                    <span class="p3">Ubicación</span>
                                    <p class="p2">San José, Costa Rica</p>
                                </div>
                            </div>
                        </div>
                        <div class="title-break">
                            <div class="title-6">Configurar pago</div>
                        </div>
                        <div class="big-boxes">
                            <div class="item">
                                <div class="box-white-wrapper">
                                    <div class="item">
                                        <div class="headline">Configuración general</div>
                                        <div class="info">
                                            <div class="item">
                                                <label for="">Moneda de cambio</label>
                                                <input type="text">
                                                <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                                            </div>
                                            <div class="subtitle-break">Elegir y configurar pago por defecto</div>
                                            <div class="columns">
                                                <div :class="['item border', configPayment == 'prepago' ? 'active' : '']">
                                                    <div class="top">
                                                        <div class="group-radio">
                                                            <input type="radio" id="prepago" v-model="configPayment" name="dn-trip" value="prepago" class="required">
                                                            <label for="prepago" class="p1">Prepago</label>
                                                            <div class="check"></div>
                                                        </div>
                                                    </div>
                                                    <div class="dayInfo p3">
                                                        <label for="" class="p3">Realizar pago</label>
                                                        <input type="text" value="">
                                                        <span class="metaData">Dias antes</span>
                                                    </div>
                                                </div>
                                                <div :class="['item border', configPayment == 'pospago' ? 'active' : '']">
                                                    <div class="top">
                                                        <div class="group-radio">
                                                            <input type="radio" id="pospago" v-model="configPayment" name="dn-trip" value="pospago" class="required">
                                                            <label for="pospago" class="p1">Crédito</label>
                                                            <div class="check"></div>
                                                        </div>
                                                    </div>

                                                    <div class="dayInfo p3">
                                                        <label for="" class="p3">Realizar pago</label>
                                                        <input type="text" value="" class="miniInput">
                                                        <span class="metaData">Dias despues</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-white-wrapper">
                                    <div class="item">
                                        <div class="top-box">
                                            <div class="myswitch">
                                                <label class="switch switch-3d">
                                                    <input type="checkbox" class="switch-input" name="payTrackit" id="payTrackit" value="1" checked>
                                                    <span class="switch-label"> </span>
                                                    <span class="switch-handle"></span>
                                                </label>
                                            </div>
                                            <span class="p2">Notificar fecha de pago</span>
                                        </div>
                                        <div class="alert-box">
                                            <div class="dayInfo p3">
                                                <span class="p2 title"><bell-icon> </bell-icon> Alerta 1</span>
                                                <input type="text" value="" class="miniInput">
                                                <span class="p3">Dias antes</span>
                                            </div>
                                            <a href="javascript:void(0)" class="p3 addMore"> <feather type="plus"></feather> <span>Agregar otra</span></a>
                                        </div>
                                    </div>
                                    <div class="columns footer">
                                        <div class="item">
                                            <div class="group-checkbox">
                                                <input type="checkbox" id="byemail" name="dn-trip" value="ss" class="required">
                                                <label for="byemail" class="p3">Notificar por e-mail</label>
                                                <div class="check"></div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="group-checkbox">
                                                <input type="checkbox" id="bysms" name="dn-trip" value="ss" class="required">
                                                <label for="bysms" class="p3">Notificación push</label>
                                                <div class="check"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item config-date-special">
                                <div class="box-white-wrapper">
                                    <div class="item">
                                        <div class="d-flex">
                                            <div class="myswitch">
                                                <label class="switch switch-3d">
                                                    <input type="checkbox" class="switch-input" name="payTrackit" id="payTrackit2" value="1" checked>
                                                    <span class="switch-label"> </span>
                                                    <span class="switch-handle"></span>
                                                </label>
                                            </div>
                                            <span class="p2">Configurar para fecha especial</span>
                                            <a href="" class="addMore"><feather type="plus"></feather></a>
                                        </div>
                                        <div class="rule">
                                            <div class="columns">
                                                <div class="item">
                                                    <label for="">Metodo de pago</label>
                                                    <input type="text">
                                                    <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                                                </div>
                                                <div class="item">
                                                    <label for="">Realizar pago:</label>
                                                    <div class="dayInfo p3">
                                                        <input type="text" value="" style="width: 40px">
                                                        <span>Dias despues</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wrap-dates">
                                                <h3 class="p2">Fechas de aplicación</h3>
                                                <div class="line">
                                                    <div class="dayInfo p2">
                                                        <span>Desde:</span>
                                                        <input type="text" value="">
                                                        <div class="icon"><feather type="calendar"></feather></div>
                                                    </div>
                                                </div>
                                                <div class="line">
                                                    <div class="dayInfo p2">
                                                        <span>hasta:</span>
                                                        <input type="text" value="">
                                                        <div class="icon"><feather type="calendar"></feather></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="javascript:void(0)" class="deleteRule"><feather type="trash-2"></feather></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accounts">
                            <div class="title-break">
                                <div class="title-6">Datos de consignación</div>
                            </div>
                            <div class="box-white-wrapper">
                                <div class="item">
                                    <div class="subtitle-break">Cuenta Principal</div>
                                </div>
                                <div class="columns">
                                    <div class="item">
                                        <label for="">Banco</label>
                                        <input type="text">
                                        <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                                    </div>
                                    <div class="item">
                                        <label for="">Tipo de cuenta</label>
                                        <input type="text">
                                        <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                                    </div>
                                    <div class="item">
                                        <label for="">Número de cuenta</label>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="d-flex">
                                        <div class="myswitch">
                                            <label class="switch switch-3d">
                                                <input type="checkbox" class="switch-input" v-model="hasAlternativeAccount" name="payTrackit" id="payTrackit2" value="true">
                                                <span class="switch-label"> </span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </div>
                                        <span class="p3">Agregar cuenta alternativa</span>
                                    </div>
                                </div>
                            </div>
                            <div class="box-white-wrapper" v-if="hasAlternativeAccount">
                                <div class="item">
                                    <div class="subtitle-break">Cuenta Alternativa</div>
                                </div>
                                <div class="columns">
                                    <div class="item">
                                        <label for="">Banco</label>
                                        <input type="text">
                                        <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                                    </div>
                                    <div class="item">
                                        <label for="">Tipo de cuenta</label>
                                        <input type="text">
                                        <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                                    </div>
                                    <div class="item">
                                        <label for="">Número de cuenta</label>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="provider-notes" v-if="tabindex == 3">
                        <div class="provider-header">
                            <div class="item">
                                <div class="icon blue"><feather type="home"></feather></div>
                                <div class="info">
                                    <span class="p3">Proveedor</span>
                                    <p  class="p2">Hotel Rancho Grande</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon purple"><feather type="search"></feather></div>
                                <div class="info">
                                    <span class="p3">Codigo</span>
                                    <p class="p2">ACSJDT</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon orange"><feather type="map-pin"></feather></div>
                                <div class="info">
                                    <span class="p3">Ubicación</span>
                                    <p class="p2">San José, Costa Rica</p>
                                </div>
                            </div>
                        </div>
                        <div class="disclaimer"><p>Redacta cualquier detalle importante al momento de cotizar servicios de este proveedor</p></div>
                        <div class="box-white-wrapper">
                            <div class="title-break">
                                <div class="title-6">Notas</div>
                            </div>
                            <div class="item">
                                <textarea></textarea>
                                <span class="limit">70</span>
                            </div>
                        </div>
                    </div>
                    <div class="footer-buttons">
                        <div class="footer-left">
                            <a href="javascrip:void(0)" @click="backStep()" v-if="tabindex > 1"><feather type="arrow-left" class="back-page" stroke-width="3"></feather>Retroceder</a>
                        </div>
                        <div class="footer-right">
                            <a href="javascrip:void(0)" class="button-blue" @click="nextStep()">Continuar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <ModalContactProvider :dataContact="dataContact2" :title="modalTitle" :showModal="showModal" @modal-closed="closeModal" @modal-confirm="closeModal"></ModalContactProvider>
        <modal-confirm-delete :title="modalDeleteTitle" :message="modalDeleteMessage" :showModal="showDeleteModal" classModal="modal-delete"
                  @modal-confirm="deleteContacInfo" @modal-closed="closeModal"></modal-confirm-delete>
    </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
import MenuCreateQuote from '@/components/Menus/SubMenu-CreateQuote.vue'
import ModalContactProvider from '@/components/Modals/Contact-Provider.vue'
import ModalConfirmDelete from '@/components/Modals/Confirm-Delete.vue'
export default {
  props: {
    olman: Boolean
  },
  components: {
    MenuCreateQuote,
    ModalContactProvider,
    ModalConfirmDelete
  },
  data () {
    return {
      modalDeleteTitle: '',
      modalDeleteMessage: '',
      showDeleteModal: false,
      modalTitle: '',
      modalMessage: '',
      contactSelected: [],
      dataContact2: null,
      showModal: false,
      subMenuStatus: false,
      selectedAll: false,
      configPayment: 'prepago',
      tabindex: 1,
      lastStep: 3,
      hasAlternativeAccount: false,
      MenuOptions: {
        titleMenu: 'Información Proveedor',
        secondaryMenu: [
          {
            title: 'Datos Básicos',
            lazy: false,
            redirect: false,
            toShow: 0,
            icon: 'book',
            submenu: [
              {
                title: 'Datos Básicos'
              },
              {
                title: 'Ubicación'
              },
              {
                title: 'Contacto'
              }
            ]
          },
          {
            title: 'Metodo de pago',
            lazy: false,
            redirect: false,
            toShow: 0,
            icon: 'credit-card',
            submenu: [
              {
                title: 'Configuracion de pago'
              },
              {
                title: 'Consignación'
              }
            ]
          },
          {
            title: 'Condición',
            lazy: false,
            redirect: false,
            toShow: 0,
            icon: 'file-text',
            submenu: [
              {
                title: 'Horarios'
              },
              {
                title: 'Politicas de edad'
              },
              {
                title: 'Politicas de cancelacion'
              },
              {
                title: 'Reglas de distribucion'
              }
            ]
          },
          {
            title: 'Anotaciones',
            icon: 'paperclip',
            submenu: false
          }
        ],
        otherMenu: null
      }
    }
  },
  computed: {
    ...mapState([
      'contactInfoData'
    ])
  },
  watch: {
    olman: function (newVal, oldVal) {
      if (oldVal) {
        this.subMenuStatus = false
      }
      // this.subMenuStatus = newVal
      console.log('Nuevo:' + newVal + ' Viejo' + oldVal)
    }
  },
  mounted () {
    this.$emit('statusMenu', true)
    this.statusSubMenu(false, true)
  },
  methods: {
    ...mapActions([
      'deleteDataFromArray'
    ]),
    toggleMarkontacts () {
      this.selectedAll = !this.selectedAll
      if (this.selectedAll) {
        for (let index = 0; index < this.contactInfoData.length; index++) {
          this.contactSelected.push(index)
        }
      } else {
        this.contactSelected = []
      }
    },
    deleteContacInfo (optionDelete) {
      if (optionDelete === 'toConfirm') {
        if (this.contactSelected.length > 0) {
          this.showDeleteModal = true
          this.modalDeleteTitle = 'Eliminar Contacto'
          this.modalDeleteMessage = '¿Estas seguro que deseas eliminar los contactos seleccionados?'
        }
      } else if (optionDelete === 'confirmed') {
        this.deleteDataFromArray({
          storage: 'contactInfoData',
          removeAll: this.selectedAll,
          dataToRemoved: this.contactSelected
        })
        this.selectedAll = false
        this.contactSelected = []
        this.showDeleteModal = false
      }
    },
    statusCheckAll () {
      if (this.contactInfoData.length !== this.contactSelected.length) {
        this.selectedAll = false
      } else {
        this.selectedAll = true
      }
    },
    closeModal () {
      this.showModal = false
      this.showDeleteModal = false
    },
    backStep () {
      this.tabindex = this.tabindex - 1
      if (this.tabindex < 2) {
        this.tabindex = 1
      }
      window.scrollTo(0, 0)
    },
    addContact () {
      this.modalTitle = 'Añadir Contacto'
      this.showModal = !this.showModal
      this.dataContact2 = null
    },
    editContactRow (position) {
      this.modalTitle = 'Editar Contacto'
      this.showModal = !this.showModal
      this.dataContact2 = { pos: position, data: this.contactInfoData[position] }
    },
    nextStep () {
      this.tabindex = this.tabindex + 1
      if (this.tabindex > this.lastStep) {
        this.tabindex = 3
      }
      window.scrollTo(0, 0)
    },
    statusSubMenu (status, fixed) {
      console.log('assss ', status)
      this.subMenuStatus = status
      this.$emit('statusSubMenu', status, fixed)
    }
  }
}
</script>
