<template>
    <div class="provider-wrapper">
        <div class="head">
            <div class="left">
               <span class="title-3">Proveedores</span>
            </div>
            <div class="right">
                <router-link to="/new-provider" class="btn btn-outline-primary p2">Agregar Proveedor <feather type="plus"></feather></router-link>
            </div>
        </div>
        <div class="boxes">
            <template v-for="(box, index) in providers.sumary">
                <BoxHeaderInformation :key="index" :count="box.count" :desc="box.desc"></BoxHeaderInformation>
            </template>
        </div>
        <div class="filter-service">
            <div class="subtitle-break" @click="josue">Búsqueda</div>
            <div class="box-white-wrapper">
                <div class="columns">
                    <div class="item">
                        <div class="circle purple">
                          <feather type="search"></feather>
                        </div>
                        <input type="text" class="indent-25" placeholder="Código o nombre" v-model="searchProvider" v-on:keyup="searchProviders()">
                    </div>
                    <div class="item less40">
                        <div class="circle orange">
                          <feather type="map-pin"></feather>
                        </div>
                        <input type="text" class="indent-25" placeholder="Categoria">
                        <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                    </div>
                    <div class="item less40">
                        <div class="circle green">
                            <feather type="box"></feather>
                        </div>
                        <input type="text" class="indent-25" placeholder="Proveedor">
                        <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                    </div>
                </div>
            </div>
        </div>
        <div class="providers-list">
            <div class="block-title">
                <div class="title-6" v-if="searchProvider !== ''">{{ countFilter }} Resultados disponibles</div>
                <div class="table-header-options">
                    <div :class="['item', { 'active': checked }]">
                        <div class="circle">
                            <feather type="check"></feather>
                        </div>
                        <a href="javascript:void(0)" @click="checkAll()" class="p3">Seleccionar todo</a>
                    </div>
                    <div :class="['item', { 'active': allowEdit }]">
                        <div class="circle">
                          <feather type="edit-3"></feather>
                        </div>
                        <a href="javascript:void(0)" class="p3" @click="editProvider()">Editar</a>
                    </div>
                    <div :class="['item', (checked ? 'active' : ''), ( providersChecked.length > 0 ? 'active' : '')]">
                        <div class="circle">
                            <feather type="trash-2"></feather>
                        </div>
                        <a href="javascript:void(0)" class="p3" @click="deleteProvider('toConfirm')">Eliminar</a>
                    </div>
                </div>
            </div>
            <div class="box-white-wrapper">
                <modal-confirm-delete :title="modalTitle" :message="modalMessage" :showModal="showModal" classModal="modal-delete"
                  @modal-confirm="deleteProvider" @modal-closed="closeModal"></modal-confirm-delete>
                <table-providers :providers="providersData" :selected="checked" @activeEditButton="activeEdition"></table-providers>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
import BoxHeaderInformation from '@/components/Box-Header-Information.vue'
import tableProviders from '@/components/tables/Providers.vue'
import ModalConfirmDelete from '@/components/Modals/Confirm-Delete.vue'
export default {
  components: {
    BoxHeaderInformation,
    ModalConfirmDelete,
    tableProviders
  },
  data () {
    return {
      providers: Object,
      providersData: Array,
      countFilter: 0,
      checked: false,
      allowEdit: false,
      searchProvider: '',
      modalTitle: '',
      modalMessage: '',
      showModal: false,
      providersChecked: []
    }
  },
  computed: {
    ...mapState([
      'providersList'
    ])
  },
  beforeMount () {
    this.providers = this.providersList
    this.providersData = this.providersList.providers
    this.statusSubMenu(false, false)
  },
  methods: {
    ...mapActions([
      'addContactInfo'
    ]),
    josue () {
      this.addContactInfo(
        {
          id: 1,
          code: 'JOSUE',
          category_id: 1,
          category_name: 'Alojamiento',
          name: 'Hotel holiday INN',
          city: 'San Jose',
          services: 6,
          comments: 'Cerca a la alcaldia y museo'
        }
      )
    },
    checkAll () {
      this.checked = !this.checked
      if (this.checked === true) {
        this.allowEdit = false
        this.providersChecked = []
      }
    },
    activeEdition (checkedProviders) {
      this.allowEdit = false
      if (checkedProviders.length === 1) {
        this.allowEdit = true
      }
      if (this.providers.length !== this.providersChecked.length) {
        this.checked = false
      }
      this.providersChecked = checkedProviders
    },
    editProvider () {
      if (this.providersChecked.length === 1) {
        this.$router.push({ name: 'NewProvider' })
      }
    },
    deleteProvider (optionDelete) {
      if (optionDelete === 'toConfirm') {
        if (this.providersChecked.length > 0 || this.checked) {
          this.showModal = true
          this.modalTitle = 'Eliminar proveedor'
          this.modalMessage = '¿Estas seguro que deseas eliminar el proveedor seleccionado?'
        }
      } else if (optionDelete === 'confirmed') {
        this.showModal = false
        // Aquie Logi de borrar todo
      }
    },
    closeModal () {
      this.showModal = false
    },
    searchProviders () {
      this.providersData = this.providersList.providers
      if (this.searchProvider) {
        this.providersData = this.providersData.filter((item) => {
          return this.searchProvider.toLowerCase().split(' ').every(v => item.code.toLowerCase().includes(v)) ||
          this.searchProvider.toLowerCase().split(' ').every(v => item.name.toLowerCase().includes(v))
        })
      }
      this.checked = false
      this.countFilter = this.providersData.length
    },
    statusSubMenu (status, fixed) {
      this.$emit('statusSubMenu', status, fixed)
    }
  }
}
</script>
