
.chkb-group input[type=checkbox] + label {
    display: block
    cursor: pointer
    color: Grey-50
    font-weight: normal
    margin-bottom: 0
  }
.chkb-group input[type=checkbox] {display: none}
.chkb-group input[type=checkbox] + label:before {
    content: "\2714"
    border: 2px solid Blue-60
    borderRadius(5px)
    display: inline-block
    width: 20px
    height: 21px
    padding-left: 0.24em
    margin-right: 6px
    vertical-align: bottom
    color: transparent
    transition: .2s
    box-sizing: border-box
  }
.chkb-group input[type=checkbox] + label:active:before {transform: scale(0)}
.chkb-group input[type=checkbox]:checked + label:before {
    background-color: inherit 
    border-color: Blue-60
    color: Blue-60
    font-size: 13px
  }
.chkb-group input[type=checkbox]:disabled + label:before {
    transform: scale(1)
    border-color: Blue-60
}
.chkb-group input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1)
    background-color: inherit 
    border-color: Blue-60
}

/* Switch */
.myswitch
    margin-right: 10px
    PositionFlex(flex-start,flex-start)
    p 
        margin-left: 10px

.switch.switch-3d {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 !important
    width: 30px !important;
    height: 14px;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px
    padding-bottom: 3px
}

.switch.switch-3d .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.switch.switch-3d .switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: Grey-45
    border: 1px solid Grey-45;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: opacity background .15s ease-out;
    -o-transition: opacity background .15s ease-out;
    -moz-transition: opacity background .15s ease-out;
    transition: opacity background .15s ease-out;
}

.switch.switch-3d .switch-input:checked ~ .switch-label::before {
    opacity: 0;
}

.switch.switch-3d .switch-input:checked ~ .switch-label::after {
    opacity: 1;
}

.switch.switch-3d .switch-handle {
    PositionAbsolute(1px,inherit,inherit,2px,0)
    width: 12px;
    height: 12px;
    background: #fff;
    border: 1px solid #f2f2f2;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-transition: left .15s ease-out;
    -o-transition: left .15s ease-out;
    -moz-transition: left .15s ease-out;
    transition: left .15s ease-out;
    border: 0;
}

.switch.switch-3d .switch-input:checked ~ .switch-handle {
    left: 16px;
}
.switch-input:checked ~ .switch-label {
    
    background-color: Green-70
    border-color: Green-70
}
.switch.switch-3d .switch-label,
.switch.switch-3d .switch-handle {
    -webkit-border-radius: 50em !important;
    -moz-border-radius: 50em !important;
    border-radius: 50em !important;
}
.switch.switch-3d .switch-label::before {
    right: 2px !important;
}

.switch.switch-3d .switch-label::after {
    left: 2px !important;
}




.group-checkbox{position: relative;}
.group-checkbox label{
  display: inline;
  position: relative;
  color: Grey-50 !important;
  padding: 5px 0 0 24px;
  margin 0 !important
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}
.group-checkbox .check{
  display: block;
  border: 1px solid Green-70
  background: #ffffff;
  border-radius: 4px;
  height: 18px;
  width: 18px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
  PositionAbsolute(4.5px,inherit,inherit,0px,0)
  
}
.group-checkbox .check::before {
  display: block;
  PositionAbsolute(2px,inherit,inherit,2px,0)
  content: '';
  border-radius: 4px;
  height: 12px;
  width: 12px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}
.group-checkbox input[type=checkbox]:checked ~ .check::before{
  background: Green-70
}
.group-checkbox  input[type=checkbox] {display: none}