.custom-select-2-wrapper 
    position: relative
    user-select: none
    width: 100%
    
.custom-select-2 
    position: relative
    display: flex
    flex-direction: column
    
.custom-select-2__trigger 
    position: relative
    display: flex
    align-items: center
    justify-content: flex-start
    padding: 8px 10px 0 10px
    color: Grey-60
    height: 30px
    cursor: pointer
    .arrow-down
        margin-left: 20px
        color: Blue-60
        stroke-width: 3
        padding-top: 5px
    
.custom-options 
    position: absolute
    display: block
    top: 100%
    left: 0
    right: 0
    border-top: 0
    background: #fff
    transition: all 0.5s
    opacity: 0
    visibility: hidden
    pointer-events: none
    z-index: 2
    
.custom-select-2.open .custom-options 
    opacity: 1
    visibility: visible
    pointer-events: all
    box-shadow: 0 2px 3px 0 rgba(173, 194, 217, 0.1)
    border: solid 0.5px rgba(173, 194, 216, 0.2)
    border-bottom-left-radius: 0 !important
    border-bottom-right-radius:  0 !important
    border-top: 0
    padding: 8px 0


.custom-option 
    position: relative
    display: block
    padding: 0px 10px
    color: rgba(Grey-60,70%)
    cursor: pointer

.custom-option:hover 
    cursor: pointer
    color: Grey-60
.open
    borderRadius(5px)
    box-sizing: border-box
    background: white
    .custom-select-2__trigger
        justify-content: space-between

