.modal-backdrop
    background: White-40
    opacity 0.9

.modal-dialog
    max-width: 540px
    .modal-content
        box-shadow: 0 2px 3px 0 rgba(173, 194, 217, 0.1);
        border: solid 0.5px rgba( White-40, 70%);
        borderRadius(5px)
        .modal-header
            justify-content: center
            border-bottom: solid 1px Grey-20;
            .modal-title
                font-family: "Poppins-Bold"
                font-size: font-p-1
                color Grey-70
            .close-modal
                width: 28px
                height: 28px
                color Grey-25
                cursor pointer
                PositionAbsolute(inherit, 10px, inherit, inherit,0)
        .modal-body
            padding: 35px 35px 5px
            .box-white-wrapper
                border 0
                padding: 0
                box-shadow: none
                .item
                    textarea
                        min-height 85px
                        max-height: 85px
                    .wrap-tabs
                        margin: 15px 25px 10px
                        .tabs-module 
                            .nav-tabs
                                margin-bottom: 25px
                                justify-content: space-around
                                .nav-item
                                    margin-right: 0
                                    .nav-link
                                        padding: 4px 12px 4px 10px
                                        font-size: font-p-3
                                        background: white
                                        font-family: "Poppins-Medium"
                                        color Grey-55
                                        border 1px solid Grey-25
                                        borderRadius(17px)
                                        PositionFlex(center,center)
                                        i 
                                            position relative
                                            left initial
                                            right initial
                                            top initial
                                            bottom: initial
                                            margin-right: 6px
                                            width 12px
                                            height 12px
                                    .active
                                        color white
                                        background: Blue-60
                            .tab-content
                                .wpraFieldContact
                                    max-height: 100px
                                    overflow-y: auto
                                    .item
                                        position relative
                                        PositionFlex(flex-start, center,nowrap)
                                        .vue-tel-input
                                        input 
                                            width: 65%
                                        label 
                                            width: 20%
                                            text-align: right
                                            margin-right: 20px
                                            margin-bottom: 0px
                                            font-size: font-p-3
                                        .removeLine
                                            width: 12px
                                            height 12px
                                            color Blue-60
                                            cursor pointer
                                            PositionAbsolute(10px,12px,initial,initial,0)
                                .addRowPlus
                                    display inline-flex
                                    margin-left: 50px
                                    top -8px
                                    position relative

        .modal-footer
            PositionFlex(flex-end,center)
            padding: 0.75rem 0
            border: 0
            a 
               font-size: font-p-3
               font-family: "Poppins-Medium"
               border: 1px solid Grey-45
               color Grey-70 
               borderRadius(5px)
               padding: 8px 30px
               margin-right: 10px
               cursor pointer
               &:nth-last-child(1)
                   margin-right: 0
            .button-blue 
                padding: 10px 25px

.modal-delete
    color Red-60
    max-width: 390px
    .modal-content
        .modal-body
            text-align: center
            padding: 35px
        .modal-footer
            margin-top: 30px
            justify-content: center
            .confirm-modal
                background: Red-60
                border-color Red-60 !important
                color white !important
                &:hover
                    background: white !important
                    color Red-60 !important
                    border-color: @color