.wrap-menu
    margin-top: 40px
    .nav-sidebar
        margin: 0 auto
        padding: 0 10px
        width: 95% 
        .nav-item
            margin-bottom: 20px
            .nav-link 
                padding: 7px 12px
                PositionFlex(flex-start,center)
                .p2
                    font-family: "Poppins-Bold"
            .nav-icon
                width: 16px
                height 16px
                margin-right: 6px
        .focus
            background: rgba(Blue-50,20%)
            color: Blue-60
            border-radius: 25px
        .nav-submenu
            padding: 0 0 0 25px
            li
                margin: 10px 0
                border-left: 2px solid white
                position relative
                .nav-link
                    padding: 0 10px
                    &:hover
                        color: Blue-60
                &:hover
                    border-left: 3px solid Blue-60
                    
            .active
                border-left: 3px solid Blue-60
                .nav-link
                    color Blue-60  


.subMenu-wrapper
    width 230px
    transition: all .5s
    .secondary-menu
        position relative
        .close-sm
            z-index 9
            color Grey-80
            cursor pointer
            borderRadius(5px)
            background: White-20
            PositionFlex(center,center)
            PositionAbsolute(22px, 13px, initial, initial, 0)
            i 
                width: 20px
                height 20px   
        .secondary-content
            transition: all .5s
            top: 0
            bottom: 0
            z-index 8
            width 230px
            border-left: 0
            position: fixed
            padding-top 50px
            background white
            border-top-right-radius: 20px
            border-bottom-right-radius: 20px
            border: solid 0.5px rgba(173, 194, 216, 0.2)
            box-shadow: 0 2px 3px 0 rgba(173, 194, 217, 0.1)
            .title 
                color Blue-60
                font-family: "Poppins-Bold"
                font-size: font-title-4
                margin-bottom: 35px
                line-height: 1.3
                padding:  0 25px

            .secondary-option
                .wrap-accordion
                    .card 
                        margin-bottom: 10px
                        .card-header
                            border: 0
                            color Blue-60
                            box-shadow: none
                            font-size: font-p-2
                            background: White-30
                            padding: 12px 0 8px 25px 
                            font-family: "Poppins-Bold"
                            i 
                                width: 18px
                                height 18px
                                margin-right: 8px

                            .tab-actions-buttons
                                margin-right: 5px
                                .arrow
                                    background: inherit
                        
                        .card-body
                            background: White-30
                            padding: 8px 20px 15px 26px
                            .submenu
                                padding-left: 25px
                                .item
                                    padding-left: 5px
                                    border-color: White-30
                                    line-height: 1.3
                                    margin-bottom: 10px
                                    a
                                        color Grey-80
                                        font-size: font-metadata
                                        // &:hover
                                        //     color Blue-60    
                                    &:hover
                                        border-color: Blue-60   

                                .active
                                    border-color Blue-60
                                    a
                                        color Blue-60

                        .collapsed
                        header[aria-expanded='false']
                            color Grey-80
                            background: white
                            font-family: "Poppins-Medium"
                            &:hover
                                color: Blue-60

            .thirdMenu
                margin-top: 40px
                .title 
                    font-family: "Poppins-Light"
                    margin-bottom: 20px
                .item
                    PositionFlex(flex-start,center)
                    padding: 0 25px
                    margin-bottom: 20px
                    i 
                        width: 18px
                        height 18px
                        margin-right: 8px
                    a
                        color Grey-80
                        font-size: font-p-2
                        font-family: "Poppins-Medium"
                    &:hover
                        color Blue-60
                        a
                            color Blue-60

        .secondary-option
            padding: 0
            .item 
                margin-bottom: 8px
                cursor pointer
                border-left: 3px solid white
                padding-left: 5px
                color Grey-50
                &:nth-last-child(1)
                    margin 0
                &:hover
                    border-color: Blue-60
                    color Blue-60 
            .active 
                border-color: Blue-60
                color Blue-60

        h3 
            color Grey-60
            font-family: "Poppins-Bold"

.subMenuCollpased
    // margin-left: -215px
    .secondary-menu
        .close-sm
            background: Blue-60
            color white
            right: -8px
            borderRadius(100%)
            i 
                transform: rotate(180deg)
        
        .secondary-content
            transform: translateX(-210px)
            -webkit-transform: -webkit-translateX(-210px);
        //     left -145px
        .secondary-option
            display: none
    //     width 20px !important
    //     overflow: hidden 
    //     .card
    //         transition: all .8s linear;
    //         display: none

