.sidebar
    PositionFlex(flex-start,flex-start)
    .main-menu
        background: white
        width 230px
        padding: 20px
        box-shadow: 0 2px 3px 0 rgba(173, 194, 217, 0.1)
        border: solid 0.5px rgba(173, 194, 216, 0.2)
        border-top-right-radius: 20px
        border-bottom-right-radius: 20px
        transition: all 0.3s
        box-sizing: border-box
        position: fixed;
        top: 0;
        bottom: 0;
        z-index 9
        .head
            PositionFlex(space-between,flex-start)
            margin: 0
            .hambuger-menu
                color Blue-60
                cursor pointer
            .logo
                position relative
                .avatar 
                    width: 90px
                    height 90px
                    margin-top: 12px
                    img 
                        object-fit: cover
                        width: 90px
                        height 90px
                        box-shadow: 0 3px 6px 0 rgba(0, 124, 255, 0.1)
                        borderRadius(100%) 
                .branding
                    width: 40px
                    height: 40px
                    borderRadius(100%)
                    border-radius: 100%
                    background-color: Grey-20
                    padding: 4px
                    box-sizing: border-box
                    PositionAbsolute(inherit, inherit, -10px,-12px,inherit)
        
            .branding-bell
                stroke: Grey-50
                padding-top: 4px
                box-sizing: content-box
                width  20px
                height 20px
    .fastAccess
        a 
            margin 0 auto
            width: 90%
            height 40px
            color white
            border-radius: 5px
            box-shadow: 0 3px 5px 0 rgba(0, 124, 255, 0.1)
            background-color: Blue-60
            PositionFlex(space-between,center)
            font-family: "Poppins-Bold"
            text-decoration: none
            padding: 0 15px
            box-sizing: border-box
            .feather-plus
                width: 18px
                height 18px
        :hover
            background-color: Blue-70       

.sb-collpased
    .main-menu
        width: 68px
        padding 20px 15px
        transition: all 0.3s
        .head
            justify-content: center
            .logo
                .avatar
                    width: 33px
                    height 33px
                    margin-top 6px
                    img
                        width: 33px
                        height 33px 
                .branding
                    width: 16px
                    height 16px
                    left:  -5px
                    bottom -5px
            .bell-alert
                margin-top 8px
        .user-info
            display none
        .fastAccess
            a   
                width 38px
                height 38px
                PositionAbsolute(133px,inherit,inherit,inherit,0)
                transition: all 0.4s
                padding 0
                span 
                    display none
                .feather
                    stroke-width: 3
                    margin 0 auto
                &:hover
                    width: auto
                    min-width 160px
                    padding 0 15px
                    span 
                        display flex
                        margin-right: 10px
        .wrap-menu
            margin 65px 0
            .nav-sidebar
                padding 0
                width 100%
                .nav-item
                    margin-bottom: 8px
                    .nav-link
                        padding 0
                        borderRadius(100%)
                        PositionFlex(center,center)
                        margin 0 auto
                        width: 35px
                        height 35px
                        span 
                            display none
                        .feather
                            stroke-width: 3
                            margin 0
                            width: 15px
                            height 15px
                    .focus
                    & :hover     
                        background: rgba(Blue-50,20%)
                        color Blue-60
                    .nav-submenu
                        display none         

.main-menu-collpased
    .sidebar-wrapper
        width: 70px !important
        position relative
        top initial
        bottom initial
        left initial
        
        .sidebar
            .main-menu
                border-top-right-radius: 0
                border-bottom-right-radius: 0
    
    
    .content-wrapper
        width: calc(100% - 185px) !important
                