
@import 'base/_fonts'
@import 'base/_variables'
@import 'base/_mixins'

@import 'components/_sidebar'
@import 'components/_nav-menu'
@import 'components/_user-profile-info'
@import 'components/_custom-select'
@import 'components/_radio-buttons'
@import 'components/_checkbox_buttons'
@import 'components/_modals'

body 
    background: White-50
    padding: 0
    margin: 0
    font-family: "Poppins-Regular"
    color: Grey-50
    p 
        margin 0
        color: Grey-50
        white-space: normal
    li
        list-style-type: none
        white-space: normal
    
    .nav-link 
        text-decoration: none
        color: Grey-50
    div 
        white-space: normal
    strong 
        font-family: "Poppins-Bold"

    a 
        text-decoration: none !important

.hide 
    display: none !important
    transition: all 25s

.full-width
    .content-wrapper
        width: 100% !important
        margin-left: 68px !important

.page-content
    display flex
    
    .sidebar-wrapper
        width: 230px
        font-family: 'Poppins-Bold'
    .toFixed 
        position fixed
        top 0
        bottom 0
        left 0
        z-index 9

    .content-wrapper
        margin: 0 auto
        transition: all .5s
        width: calc(100% - 360px)
        .main-content
            PositionFlex(flex-start,flex-start)

    .head
        PositionFlex(space-between,center)
        margin: 35px 0
        .left
            PositionFlex(flex-start,center)
            .title-3
                color Grey-60
            .back-page
                padding-top: 8px
                margin-right: 12px
        .dropdown-filter
            color Grey-60
            width: 48%
        
.boxes
    PositionFlex(space-between,center,nowrap)
    .item
        borderRadius(5px)
        box-sizing: border-box
        padding: 20px 20px 15px
        margin-right: 20px
        width: 25%
        background: white
        text-align: center
        box-shadow: 0 2px 3px 0 rgba(173, 194, 217, 0.1)
        border: solid 0.5px rgba(173, 194, 216, 0.2)
        cursor pointer
        &:nth-last-child(1)
            margin-right: 0
        ._top
            .title-2
                color Blue-60
                line-height: 0.92
            span 
                color Grey-50
                font-family: "Poppins-Regular"
        ._bottom
            border-top: 2px solid White-50
            margin-top: 10px
            padding: 12px 20px 0  20px 
            PositionFlex(center,center)
            span 
                font-family: "Poppins-Bold"
                color Green-60
            .circle
                width: 20px
                height 20px
                margin-right: 8px
                borderRadius(100%)
                background: Green-50
                i 
                    width: 12px
                    height: 14px
                    stroke-width: 4
                    padding-bottom: 2px
                    color Green-60
    .active
        .onReserve-color
            .title-2
                color Purple-60
        .success-color
            .title-2
                color Green-60
        .changeWeb-color
            .title-2
                color Pink-60
        .warning-color
            .title-2
                color Yellow-60
    .disabled
        ._top 
            .title-2
            & span    
                color Grey-40
        ._bottom
            span 
                color Grey-30 !important
            .circle
                background: Grey-20 !important
                i
                    color Grey-30 !important



.count-message
    background: Yellow-60
    color white
    borderRadius(100%)
    font-size: 10px
    width: 20px
    height 20px
    font-family: "Poppins-SemiBold"
    PositionFlex(center,center)
    PositionAbsolute(inherit, -10px)

.block-title
    font-family: "Poppins-Regular"
    line-height: 1.44
    text-align: left
    color: Grey-60
    margin: 30px 0
                

.quote-preview
    background: white
    padding: 30px
    box-shadow: 0 2px 3px 0 rgba(173,194,217,0.1)
    border: solid 0.5px rgba(173,194,216,0.2)
    border-top: 0
    .top
        margin-bottom: 40px
        .header 
            PositionFlex(space-between,flex-start)
            margin-bottom: 40px
            .title
                color Grey-60
                font-family: "Poppins-Bold"
            .opt-buttons
                PositionFlex(space-between,center)
                width 100%
                max-width 90px
                a 
                    width: 24px
                    height: 24px
                    background: rgba(Blue-60,20%)
                    color Blue-60
                    margin-right: 8px
                    borderRadius(100%)
                    &:nth-last-child(1)
                        margin-right: 0
                    PositionFlex(center,center)
                    i  
                            width: 15px
                            height: 15px
                            stroke-width: 3px
                
        .feature
            PositionFlex(space-between, flex-start,nowrap)
            .item
                width: 31%
                min-height: 155px
                box-shadow: 0 2px 3px 0 rgba(173, 194, 217, 0.05)
                border-right: 2px solid Grey-30
                padding: 5px 10px
                text-align: center
                box-sizing: border-box
                &:first-child
                    padding-left: 20px
                .block
                    margin-bottom: 20px
                    &:nth-last-child(1)
                        margin-bottom: 0
                .circle 
                    width: 47px
                    height 47px
                    borderRadius(100%)
                    PositionFlex(center, center)
                    margin 0 auto 18px auto
                    i
                        height 20px
                        width 20px
                p 
                    font-family: "Poppins-Bold"
                    color: Grey-60
                    line-height: 0.85
                &:first-child
                    text-align: left 
                &:nth-last-child(1)
                    border-right: 0

.itinerary
    margin-bottom: 40px
    .head
        margin-bottom: 60px
    .title-5
        font-family:  "Poppins-Bold"
        color: Grey-60
        margin-bottom: 35px
    .top
        .feature
            .badgeIconWrap
                p 
                    font-size: font-title-4
                    &:nth-last-child(1)
                        margin-top: 10px
                        font-size:  font-p-3
                        font-family: "Poppins-Regular"
    .table
        tr 
            td
                border-bottom: 15px solid White-50

.table-responsive
    width: 100%

.table-header-options
    PositionFlex(flex-end,center)
    width: 50%
    .item
        PositionFlex(center,center, nowrap)
        margin-right: 10px
        a 
            font-family: "Poppins-Medium"
            color Grey-45 !important
            background: initial !important
            border 0
            box-shadow: none
            padding 6px 10px
        .circle
            background: Grey-20
            i
                width 13px
                height 13px
                color Grey-45
    .active 
        color Blue-60 !important
        .circle
            background: Blue-30
            i 
                color Blue-60
        a 
            color @color
.table
    thead
        tr
            th
                color Grey-60
                border 0 
                font-family: "Poppins-Bold"
                white-space: nowrap
    tbody
        tr 
            box-shadow: 0 2px 3px 0 rgba(173, 194, 217, 0.1)
            //border: solid 0.5px rgba(173, 194, 216, 0.2)
            td  
                border 0
                background: white
                color Grey-60
                white-space: nowrap
                vertical-align: middle
                position relative
                strong 
                    font-family: "Poppins-Bold"
                    color Grey-60
                .table-options
                    PositionFlex(space-around, center,nowrap)
                    a 
                        width: 18px;
                        height: 18px;
                        background: rgba(0,124,255,0.2);
                        color: Blue-60;
                        margin-right: 5px
                        cursor pointer
                        borderRadius(100%)
                        PositionFlex(center, center)
                        i
                            width: 12px;
                            height: 12px;
                            stroke-width: 3px;
                        i-chevron-down
                            width: 17px;
                            height: 17px;
                            padding-top: 2px
                        &:hover
                            background: Blue-60 
                            color white
                        &:nth-last-child(1)
                            margin: 0
                    .active
                        background: Blue-60 
                        color white
                        i-chevron-down
                            transform: rotate(180deg)
                .blue-row
                    color Blue-60
                    font-family: "Poppins-Bold"
                    text-align: right 
                    width 100%
                    display inline-block

        .active
            td 
                border-bottom: solid 1px rgba(173, 194, 216, 0.2)
        .spacer
            td
                padding-bottom: 6px
                background: initial

.mini-scroll-table
    max-height 88px
    overflow-y: auto
    .table 
        thead
            tr 
                th 
                    padding: 5px
        tbody
            tr 
                td 
                    padding 5px

.testJosue
    display: none

tr:hover
    .testJosue
        display inline-flex
        position: absolute
        left -20px
        background: red
        height 30px
            
.tabs-module
    .nav-tabs
        border-bottom: 0px
        margin-bottom: 50px
        PositionFlex(flex-start,center)
        .nav-item
            margin-right: 15px    
            .nav-link
                font-family: "Poppins-Bold";
                color: Grey-30;
                padding: 6px 18px;
                font-size: 14px
                &.active 
                    background: Blue-60
                    border 0
                    borderRadius(17px)
                    color: white
                &.disabled
                &:hover
                    background: Grey-20 !important;
                    color: Grey-60 !important;
                    borderRadius(17px)
                    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.05);
            &:nth-last-child(1)
                margin-right: 0
    .tab-content
        padding: 0 15px

.sub-tabs
    .tabs-module
        .nav-tabs
            .nav-item
                .nav-link
                    &.active 
                        background: Blue-30
                        color Blue-60
    

.service-detail
    PositionFlex(space-between,flex-start)
    width: 100%
    .info
        width 50%
        h2 
            color Grey-60
            font-family: "Poppins-Bold"
            margin-bottom: 15px
        p 
            color Grey-60
        .services
            margin: 22px 0 35px 0
            color Grey-60
            .item
                margin-bottom: 6px
                PositionFlex(flex-start,center)
                i
                    width: 12px
                    height 12px
                    margin-right: 8px
            .change
                color Blue-60
            
        .webChanges
            .comments
                border: 1px solid Grey-30
                borderRadius(5px)
                height: 145px
                padding: 15px
                box-sizing: border-box
    .subtitle
        font-family: "Poppins-Bold"
        margin-bottom: 10px
        color Grey-60
    .map 
        width: 45%
        height 455px
        img 
            object-fit: cover
            width 100%
            height: 100%
    .thumbanils
        width: 50%
        PositionFlex(space-between,flex-start)
        .item
            width: 48%
            height 150px
            position: relative
            img 
                object-fit: cover
                height 100%
                width 100%
            a
                width: 18px
                height: 18px
                position: absolute
                bottom: 12px
                right: 12px
                background: white
                borderRadius(100%)
                PositionFlex(center,center)
                i
                    width 10px
                    height 10px
                    stroke-width: 3


.status {
    borderRadius(15px)
    PositionFlex(center,center)
    width: auto;
    height: 20px;
    padding: 2px 6px;
    font-size: 10px;
}
.status-1
    background: Green-50 
    color: Green-60
.status-2
    background: Red-50 
    color: Red-60
.status-3
    background: Purple-50 
    color: Purple-60
.status-4
    background: Yellow-50 
    color: Yellow-60


/** Input **/
label
    font-size: font-p-2
    color Grey-60

input[type='text']
.vue-tel-input
    outline: none !important
    width: 100%
    min-height: 32px
    text-indent: 15px
    outline: none
    border 0
    font-family: "Poppins-Regular"
    color Grey-50
    letter-spacing: 0.4px
    font-size: font-p-3
    background: Grey-20
    box-shadow: 0 2px 3px 0 rgba(173, 194, 217, 0.1);
    border: solid 0.5px rgba(173, 194, 216, 0.2) !important
    borderRadius(5px)
    &::-webkit-input-placeholder
        color: Grey-80
        font-size:  font-p-3
    &:-ms-input-placeholder
        color: Grey-80
        font-size:  font-p-3
    &::placeholder 
        color: Grey-80
        font-size:  font-p-3

.vue-tel-input:focus-within
    box-shadow: none !important

.vti__input
    background: Grey-20
    border 0 !important

.vti__dropdown
    outline: 0
    .vti__dropdown-item
        strong
            font-family: "Poppins-Regular"

textarea
  outline: none
  background: Grey-20
  box-shadow: 0 2px 3px 0 rgba(173, 194, 217, 0.1);
  border: solid 0.5px rgba(173, 194, 216, 0.2);
  width: 100%
  min-height 140px
  max-height: 140px
  padding: 15px
  font-size: font-p-3
  borderRadius(5px)

.indent-25
    padding-left: 20px
    padding-right: 35px

.search-opt
    width: 48%
    min-height 30px
    max-width 405px
    borderRadius(25px)
    position: relative
    background-color: white
    PositionFlex(space-between,center)
    box-shadow: 0 2px 3px 0 rgba(72, 72, 72, 0.05)
    .search-input
        color Grey-50
        width: calc(100% - 145px)
        input[type='text']
            width: 90%
            background: white
            border 0
            height 25px
            text-indent: 25px
        i 
            color Grey-70
            width: 17px
            height 17px
            PositionAbsolute(8px, inherit, inherit, inherit, 0)

    .custom-select-2-wrapper
        background: Blue-60
        width: 85px
        height: 22px
        margin-right: 8px
        borderRadius(11px)
        .custom-select-2__trigger
            justify-content: center
            color white
            font-family: "Poppins-Medium"
            padding: 11px 6px
            height: 22px
            i 
                color @color
                margin-left: 5px
                height 20px
                width: 20px
                padding-top: 2px
        .custom-option
            margin-bottom: 5px
        .open 
            background: Blue-60
            border-top-left-radius: 10px !important
            border-top-right-radius: 10px !important
            border-bottom-left-radius: 0px !important
            border-bottom-right-radius: 0px !important
        .custom-select-2.open .custom-options
            background: Blue-60 
            text-align: center
            border-bottom-left-radius: 10px !important
            border-bottom-right-radius: 10px !important
        .custom-option
            color white
            

.big-boxes
    PositionFlex(space-between,flex-start)
    .item
        width: 48.5%
        height: 595px
        position relative
        .title-6
            color Grey-60
                

.build-quotes
    .search-bar
        margin 15px 0 25px 0
        .search-opt
            width: 100%

    .tabs-module 
        .nav-tabs 
            margin-bottom: 15px
            .nav-item 
                .nav-link
                    font-size: font-p-3
                    padding: 4px 20px
        .tab-content
            padding: 15px 0
            
    .card-template-quote
        background: white
        borderRadius(5px)
        padding: 10px
        margin-bottom: 10px
        PositionFlex(space-between,flex-start)
        position relative
        .feature-image
            width 30%
            height 120px
            img 
                object-fit: cover
                width 100%
                height 120px
        .detail
            width: 65%
            .title
                color Grey-60
                font-family: "Poppins-SemiBold"
                margin-bottom: 10px
            .info
                PositionFlex(space-between,flex-start)
                .summary
                    width: 20%
                    text-align: center
                    .count
                        color Blue-60
                        span 
                            color Grey-50
                            width: 100%
                            display: block
                        &:nth-last-child(1)
                            margin-top: 8px
                .tags
                    width 70%
                    border-left: 1px solid Grey-40
                    PositionFlex(space-between,flex-start)
                    padding-left: 12px
                    box-sizing: border-box
                    span
                        borderRadius(10px)
                        color: Grey-50
                        background: Grey-20
                        padding: 2px 8px
                        margin-bottom: 8px
                        font-family: "Poppins-Regular"
        a
            PositionAbsolute(0,0,0,0,0)
            color Blue-60 
            PositionFlex(center,center)
            height 140px
            display none
            background: rgba(white,88%)
            text-decoration: none
            font-family: "Poppins-SemiBold"
        &:hover a 
            display: flex
    .fromzero
        background: white
        PositionFlex(center,center,wrap,column)
        text-align: center
        borderRadius(5px)
        box-shadow: 0 2px 3px 0 rgba(173, 194, 217, 0.1)
        border: solid 0.5px rgba(173, 194, 216, 0.2)
        .info
            width: 210px
            margin-bottom: 25px
        .title-6
            color: Blue-60
            font-family: "Poppins-Bold"
            line-height: 1.6
        i
            width 38px
            height 38px
            color Blue-60
        .button-start
            background: Blue-60
            color white
            borderRadius(5px)
            text-align: center
            font-family: "Poppins-SemiBold"
            padding: 6px 28px
            PositionAbsolute(inherit,inherit,35px,50%,-50%)
        a
            PositionAbsolute(0,0,0,0,-0%)
            cursor pointer


/*** Booking View **/
.booking-single
    .head 
        position: sticky
        top: 0
        padding: 20px 0
        background: White-50
        z-index: 9
        .left
            .title-3
                color Grey-60
        .right
            PositionFlex(flex-end,center)
            width: 55%
            .picturesHisotry
                PositionFlex(flex-start,center)
                img 
                    width 27px
                    height 27px
                    borderRadius(100%)
                    border: solid 1.5px 
                    margin-right:  -6px
                    object-fit: cover
            
            .dropdown-booking-status
                width auto
                borderRadius(15px)
                margin-left: 20px 
                .custom-select-2__trigger
                    padding: 2px 12px 1px 17px
                    span
                        font-family: "Poppins-SemiBold"
                    .arrow-down
                        padding-top: 1px
                        color Green-60
                .custom-option
                    margin-bottom: 5px

            .wrap-button-actions
                width 120px
                margin-left: 15px
    
    .inverse
        .two-blocks
            order: 2 
    .itinerary
        margin 35px auto    
        padding-bottom: 20px;
        box-shadow: 0 2px 3px 0 rgba(173,194,217,0.1);
        border-bottom: solid 1.5px rgba(173,194,216,0.2);

    .service-detail 
        .info 
            width: 45%
            .webChanges 
                margin-top: 20px
                .comments 
                    background: #fff;
                    box-shadow: 0 2px 3px 0 rgba(173,194,217,0.1);
                    border: solid 0.5px rgba(173,194,216,0.2);
            .subtitle
                margin-bottom: 25px;
                width: 100%;
                height: auto;
        .thumbanils
            .subtitle 
                margin-bottom: 25px;
                width: 100%;
                height: auto;

        .map
            width: 50%
                
    .table-responsive
        height 95px
        overflow-y: auto
    .table 
        thead
            tr
                th
                    padding: 0.45rem 0.20rem 
        tbody 
            tr
                border 0
                td
                    padding: 0.45rem 0.20rem 
                    border-bottom: 0

    .wrap-gallery 
        margin: 50px 0 80px 0;
        .services
            margin: 0

/** GEneral Styles **/

.title-break
    PositionFlex(flex-start,center)
    margin-bottom: 20px
    .title-6
        color: Grey-60
        margin-right: 25px
        font-family: "Poppins-Bold"
    a 
        PositionFlex(flex-start,center)
        background: white
        borderRadius(5px)
        box-shadow: 0 2px 3px 0 rgba(173, 194, 217, 0.1)
        border: solid 0.5px rgba(173, 194, 216, 0.2)
        color Blue-60
        font-family: "Poppins-Bold"
        padding: 6px 10px 
        i
            width 16px
            height 16px
            margin-left: 15px
        &:hover
            background: Blue-60
            color white

.subtitle-break
    font-size: font-p-2
    color Grey-60
    margin-bottom: 15px

.wrap-button-actions
    PositionFlex(space-around,center)
    a
        background: white
        borderRadius(100%)
        width 32px
        height 32px
        border: solid 0.5px rgba(173, 194, 216, 0.2)
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16)
        PositionFlex(center,center)
        i
            width 20px
            height: 20px
            color Blue-60

.highlights
    PositionFlex(space-between,center)
    margin-bottom: 45px
    .wrap-items
        borderRadius(5px)
        PositionFlex(space-between,center)
        min-height: 220px
        margin-top: 15px
        background: white
        padding: 30px
        box-sizing: border-box
        box-shadow: 0 2px 3px 0 rgba(173, 194, 217, 0.1)
        border: solid 0.5px rgba(173, 194, 216, 0.2)
        .item
            width 50%
            PositionFlex(flex-start,center)
            .icon
                color Blue-60
                margin-right: 18px
                i
                    stroke-width: 3
            .p3
                color Grey-60
                margin-bottom: 5px
        .line-break
            width 100%
            height 2px
            background: White-50
            margin: 25px 0
        .wrap-tabs
            width: 100%
            .nav-tabs
                margin-bottom: 20px
                .nav-item 
                    .nav-link
                        padding: 3px 18px
                        font-size: font-p-3
            .tabs-module
                .tab-content
                    padding: 0 5px
            .nav-menu-tabs
                justify-content: flex-start
                margin-bottom: 15px
                a 
                    margin-right: 8px
                    color Grey-40
            .px2
                a
                    PositionFlex(space-between,center)
                    borderRadius(18px)
                    padding 6px 14px
        
            .tab-content
                PositionFlex(flex-start,flex-start)
                width: 100%
                .tab-pane
                    width: 100%
                    .room-type
                        margin-bottom: 15px
                    .p3 
                        color Grey-60
                    .table
                        tr
                            box-shadow: initial 
                            border 0
    .two-blocks
        width 65%
    .one-blocks
        width: 33%
        box-sizing: border-box
        .wrap-items
            .item
                width: 100%

.wrap-accordion
    .card
        margin-bottom: 20px
        border 0
        border-radius: 0
        .card-header
            background-color: white
            PositionFlex(space-between, center)
            padding: 12px 20px 12px 35px;
            cursor: pointer;
            box-shadow: 0 2px 3px 0 rgba(173,194,217,0.1);
            border: solid 0.5px rgba(173,194,216,0.2);
            .wrap-title
                PositionFlex(flex-start, center)
                .p2
                    color Grey-60
                    font-family: "Poppins-Bold"
                .places
                    PositionFlex(flex-start,center)
                    margin-left: 30px
                    .tag
                        background: Grey-20
                        color Grey-60
                        padding: 5px 20px
                        margin-right: 12px
                        borderRadius(15px)
                    .metaData 
                        font-family: "Poppins-Bold"
                .icon
                    margin-right: 10px
                    background: Grey-20
                    borderRadius(24px)
                    width: 24px
                    height 24px
                    PositionFlex(center,center)
                    i
                        width: 13px
                        height 13px
                        color Grey-60
            
            .tab-actions-buttons
                PositionFlex(space-between,center)
                a 
                    margin-right: 8px
                    background: Grey-20
                    width 20px
                    height 20px
                    borderRadius(100%)
                    PositionFlex(center,center)
                    i 
                        height 12px
                        width: 12px
                        stroke-width: 3
                        color Grey-40
                        &:hover
                            color Blue-60
                    &:nth-last-child(1)
                        margin-right: 0px
                .arrow
                    background: white
                    width: auto
                    height: auto
                    i
                        color Blue-60
                        height 24px
                        width: 24px
                        transform: rotate(90deg)
        .collapsed
            .tab-actions-buttons
                .arrow
                    i
                        transform: rotate(0deg)
    .card-body
        padding: 25px 30px
        .table-responsive
            height auto
            .table 
                tr
                   th
                     padding 0.75rem
                     color Grey-60
                   td
                     padding 0.75rem
                     color Grey-50
                     .img-provider
                        width: 16px;
                        height: 16px;
                        margin-right: 6px;
                        borderRadius(100%)
                .green-color
                    color Green-60

.circle-point
    width: 8px
    height 8px
    borderRadius(100%)
    display inline-flex

.wrapper-flex
    PositionFlex(flex-start,center)

.table-buttons
    PositionFlex(center,center,nowrap)
    PositionAbsolute(inherit, 8px, 12px,inherit,0)
    display: none
    a
        width: 18px
        height 18px
        color Blue-60
        background: rgba(Blue-50,50%)
        margin-right: 6px
        borderRadius(100%)
        PositionFlex(center,center)
        i
            width 12px
            height 12px
            stroke-width: 3
        &:nth-last-child(1)
            margin-right: 0

/** TEmpaltes Layouts **/
.templates-layout
    .template-options
        margin-top: 160px
        .big-boxes
            PositionFlex(center,center)
            .item
                position relative
                background: white
                height 240px
                max-width 260px
                margin-right: 25px
                PositionFlex(center,center)
                borderRadius(10px)
                color Blue-60
                text-align: center
                padding: 50px 30px 30px
                transition: all 0.5s
                i
                    width 34px
                    height 34px
                a 
                    PositionAbsolute(0, 0,0, 0, 0)
                    cursor pointer
                &:hover 
                    background: rgba(Blue-50,65%)
                    transition: all 0.9s
                    height 265px
                    max-width 270px
                    padding: 65px 35px 30px 35px
                &:nth-last-child(1)
                    margin-right: 0
.template-list
    position relative
    .wrapper-flex
        .circle-point
            width 18px
            height 18px
            PositionFlex(center,center)
            margin-right: 6px
        i
            width: 12px
            height 12px
            stroke-width: 3
    .btnNewTemplate
        PositionAbsolute(inherit,0,inherit,inherit,0)
        padding: 6px 25px;
        height: auto;
        text-decoration: none
        font-size: font-p-3
        &:hover
            background: Blue-60
            color white
    .tabs-module
        .nav-tabs
            .nav-item
                .nav-link
                    font-size: font-p-3
                    padding: 4px 20px;
        .tab-content
            padding: 0

    .table
        tbody
            tr 
                td 
                    border-bottom: 15px solid White-50
                    color Grey-50
                    .status
                        padding 4px 10px
                        margin-right: 5px
                        &:nth-last-child(1)
                            margin-right: 0
                &:hover
                    td 
                        background: Grey-20
                        color Grey-70
                        cursor pointer
                        strong
                          color Grey-70 
                    
                    .bg-gray
                        background: Grey-30

                    .table-buttons
                        display: flex
                        transition: all 0.5s
/** TEmplates Created **/
.create-new-template
    .wrapper-builder-template
        width: 640px
        margin 0 auto
        

.box-white-wrapper
    box-shadow: 0 2px 3px 0 rgba(173, 194, 217, 0.1);
    border: solid 0.5px rgba(173, 194, 216, 0.2);
    background: white
    padding: 25px 20px 20px
    PositionFlex(space-between,center)
    .item
        margin-bottom: 15px
        width: 100%
        position relative
        label 
            display: block
        i
            PositionAbsolute(initial, initial, 7px, 10px, 0)
            width: 16px
            height 16px
        .arrow
            PositionAbsolute(inherit, inherit, 5px, 10px, 0)
            width: 18px
            height 18px
            right: 10px
            left inherit
            color Blue-60 !important
        .calendar-icon
            color Blue-60 !important
            right: 10px
            left inherit
        .circle
            PositionAbsolute(inherit, inherit, 5px, 8px, 0)
            i
                width 12px
                height 12px
                stroke-width: 3
                position relative
                left initial
                top initial
                bottom initial
                right initial

    .columns
        PositionFlex(space-between,center, nowrap)
        width: 100%
        .item
            margin-right: 30px       
            &:nth-last-child(1)
                margin-right: 0 !important
    .less40
        width: 60%


.vue-form-wizard
    .wizard-header
        display none
    .wizard-navigation
        .wizard-progress-bar
            background-color: Blue-60 !important
    .wizard-nav
        margin-bottom: 25px !important
        .wizard-icon-circle
            border 2.5px solid Grey-30 !important
            color Grey-30
            background: White-50
            .wizard-icon-container
                background: Blue-60 !important
                .wizard-icon
                    font-family: "Poppins-SemiBold"
                    font-size: font-title-6 !important
                    font-style: normal
        .stepTitle
            color Grey-30
            font-size: font-p-3
            margin-top: 8px
            font-family: "Poppins-Regular"
            
        .active
            .wizard-icon-circle
                border 2.5px solid Blue-60 !important
            .stepTitle
                color Grey-60 !important
        .compl
            .wizard-icon-circle
                background-color: Blue-60 !important
                border-color Blue-60 !important
                color white
            .wizard-icon
                font-size: 0
                &:after
                    font-size: font-title-6
                    display: inline
                    content: '✓'
                    font-family: "Poppins-Bold";
            .stepTitle
                color Grey-60 !important
        .disabled
            .wizard-icon
                font-style: normal

    .wizard-card-footer
        PositionFlex(space-between,center,nowrap)
        height 60px
        box-shadow: 0 2px 3px 0 rgba(173, 194, 217, 0.1);
        background: white
        position: fixed
        bottom: 0
        left 0
        right 0
        .wizard-footer-left
            width: 445px
            text-align: right 
            a 
                color Blue-60
                cursor pointer
                font-size: font-p-3
                letter-spacing: 0.4px
                font-family: "Poppins-SemiBold"
                PositionFlex(flex-end,center)
                i
                    width: 18px
                    height 18px
                    margin-right: 6px

        .wizard-footer-right
            width: calc( 100% - 530px)
            text-align: right 

.button-blue
    background: Blue-60
    borderRadius(5px)
    color white !important
    padding: 10px 25px
    font-family: "Poppins-SemiBold"
    font-size: font-p-3
    letter-spacing: 0.6px
    &:hover
        color Blue-60 !important
        background: white
        border-color: Blue-60 !important

.collapsed
    .wizard-card-footer
        .wizard-footer-left
            width: 265px
        .wizard-footer-right
            width: calc( 100% - 425px)
/** New Quote **/
.full-width
    .collapsed
        .create-new-quote
            width calc(100% - 170px)

.create-new-quote
    width calc(100% - 315px)
    margin 0 auto
    transition: all .5s
    .wrapper-builder-quote
        padding-bottom: 35px
        .title-break
            margin-bottom: 20px
        .wizard-nav
            margin-bottom: 45px !important
        .box-white-wrapper
            margin-bottom: 45px
            .columns
                margin-bottom: 15px
                &:nth-last-child(1)
                    margin-bottom: 0
            .item
                i
                    color Grey-60
        .send-quote
            .title-break
                margin-bottom: 40px
        .wrap-checkbox 
            .chkb-group
                margin-right: 100px


.hasPromo
    color Blue-60
    stroke-width: 3
    width: 18px
    height: 18px
    
.wysiwyg
    padding: 10px
    .ql-toolbar
    .ql-snow
        border 0 !important
        font-family: "Poppins-Regular" !important


.view-panel-information
    position: fixed
    top 0
    right: -520px
    bottom: 0
    transition: all 0.5s
    .showPanel
        background: Yellow-60
        color white
        width 35px
        height 30px
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16)
        border-top-left-radius 10px
        border-bottom-left-radius 10px
        padding-left: 5px
        z-index: 9
        PositionFlex(center,center)
        PositionAbsolute(40px, 520px, 0, initial, 0) 
        i
            width: 20px
            height: 20px
            
    .view-content
        position: relative
        margin 0 0 0 auto
        width: 520px
        min-height: 100vh
        overflow-y: auto
        background: white
        padding: 35px 20px 20px 20px
        box-shadow: 0 2px 3px 0 rgba(173, 194, 217, 0.05)
        border: solid 0.5px rgba(173, 194, 216, 0.2)
        .header
            color Grey-60
            text-transform: uppercase
            margin-bottom: 30px
            font-family: "Poppins-Bold"
        .info
            .subtitle
                color Grey-60
                margin-bottom: 30px
                font-family: "Poppins-Bold"
            .service-detail
                .box
                    width: 48%
                    .title
                        color Grey-70
                        margin-bottom: 10px
                    .price
                        background: Grey-20
                        box-shadow: 0 2px 3px 0 rgba(173, 194, 217, 0.1)
                        border: solid 0.5px rgba(173, 194, 216, 0.2)
                        borderRadius(5px)
                        PositionFlex(center,center)
                        padding: 15px 20px
                        text-align: center
                        color Blue-60
                        span
                            width: 100%
                            color Grey-70
                    &:nth-last-child(1)
                        .price
                            color Yellow-60
            
            .agent-comments
                margin-top: 40px
                .title 
                    color Grey-70
                    margin-bottom: 10px
                .detail
                    borderRadius(5px)
                    box-shadow: 0 2px 3px 0 rgba(173, 194, 217, 0.1)
                    border: solid 0.5px rgba(173, 194, 216, 0.2)
                    background: Grey-20
                    padding: 35px 30px
                    color Grey-70

.open-view-panel
    right: 0
    left: 0
    z-index: 9
    background: rgba(White-40,85%)

.wrap-checkbox 
    PositionFlex(flex-start,center)
    margin-top: 20px
    .chkb-group
        margin-right: 12px
        &:nth-last-child(1)
            margin-right: 0px


.full-width
    .add-service-wrapper
        width calc(100% - 70px)
        margin 0 0 0 auto

.add-service-wrapper
    PositionFlex(space-between,flex-start,nowrap)
    .catalog
        width 100%;
        margin-right: 35px
        .subtitle-break
            font-size: font-p-1
        .filter-service
            margin-bottom: 50px
            .box-white-wrapper
                box-shadow: none
                background: initial 
                padding 0
                border 0
                .columns
                    .item
                        margin-right: 15px
                        input[type='text']
                            background: white
                            border: 0
                            height 35px
                    .wrap-button
                        width auto
                        .button-blue
                            PositionFlex(center,center)
                            height 35px
                            i
                                width 18px
                                height 18px
                                stroke-width: 3
                                left initial 
                                bottom initial
        .table 
            thead 
                th
                    i
                        color Grey-60
                        width: 18px
                        height 18px
                        margin 0 auto
            tbody
                tr
                    td 
                        .status
                            background: Grey-20
                            height auto
                            padding: 4px 10px
                            font-family: "Poppins-Regular"
                            font-size: font-p-3
                            flex-wrap: nowrap
                            i
                                width: 12px
                                height 12px
                                margin-right: 5px
                        strong
                            color Grey-60
                    &:hover
                        cursor pointer
                        td
                            background: Grey-20
                            .status
                                background: white
                        
                        
    .checkout
        width: 100%
        max-width 320px
        height 100vh
        box-shadow: 0 2px 3px 0 rgba(173, 194, 217, 0.1)
        border: solid 0.5px rgba(173, 194, 216, 0.2)
        background: white
        box-sizing: border-box
        padding: 30px 5px   
        position relative
        .title-break
            PositionFlex(flex-start,center)
            padding 0 25px
            .icon
                width: 24px
                height 24px
                margin-right: 10px
                background: Blue-30
                color Blue-60
                borderRadius(100%)
                PositionFlex(center,center)
                i
                    width: 14px
                    height 14px
                    stroke-width: 3
        .detail
            padding: 0 15px
            .no-result
                padding: 15px
                margin: 8.5rem auto 0 auto
                width 85%
                .disclaimer
                    color Grey-40
                    text-align: center
                    font-family: "Poppins-Regular"
                    i
                        margin: 25px auto
                        display block
                        width 34px
                        height 34px
            .wishlist
                margin: 15px 0
                .circle
                    background: white
                    width: 22px
                    height 22px
                    margin: 0 auto
                    display inline-block
                    borderRadius(100%)
                    PositionFlex(center,center)
                    i
                        width: 16px
                        height 16px
                .table 
                    tbody 
                        tr
                            box-shadow: none
                            border 0
                            td 
                                padding: 6px 8px
                                background: Grey-20
                                border-bottom: 8px solid white
                                strong 
                                    color Blue-60
                                    text-align: right 
                                    width: 100%
                                    padding-right: 5px
                                    display: inline-block
                            

        .button-blue
            padding: 12px 15px
            PositionAbsolute(initial,initial,25px,45%,-42%)

    .view-panel-information 
        .view-content
            padding: 35px 10px 20px    
            .wrap-tabs
                .tabs-module
                    .nav-tabs
                        margin-bottom: 30px
                        .nav-item
                            margin 0
                            .nav-link
                                color Grey-30
                                font-size: font-title-6
                                text-transform: uppercase
                                background: white
                                font-family: "Poppins-Bold"
                                borderRadius(0)
                                &:hover
                                    color: Grey-60 !important 
                                    background: white !important
                                    border 0
                                    box-shadow: none
                            .active
                                color: Grey-60 !important 
                    .tab-content
                        .subtitle-break
                            font-family: "Poppins-Bold"
                        .description
                            color Grey-60
                            margin-bottom: 20px
                            PositionFlex(space-between,flex-start)
                            .info
                                width: 50%
                                padding-right: 10px
                                box-sizing: border-box
                                p 
                                    margin-bottom: 20px
                                    color Grey-60
                            .main-features
                                width: 50%
                                .item
                                    width: 100%
                                    margin-bottom: 10px
                                    PositionFlex(flex-start,flex-start,nowrap)
                            .infoTab
                                width: 85%
                        .include-in
                            PositionFlex(flex-start,flex-start)
                            margin-bottom: 30px
                            .item
                                width: 50%
                                margin-bottom: 5px
                                color Grey-60
                                PositionFlex(flex-start,flex-start) 
                        .box-white-wrapper
                            padding: 0
                            border: 0
                            box-shadow: none
                            .item
                                i
                                    left initial 
                                    right 10px
                                    color Blue-60
                        .icon 
                            margin-right: 5px
                            i
                                width 12px
                                height 12px
                                color Blue-60
                        .service-summary
                            PositionFlex(space-between,center)
                            PositionAbsolute(inherit,20px,25px,20px,inherit)
                            .price
                                width: 50%
                                color Blue-60

                        .search-bar
                            margin-bottom: 45px
                            margin-top: 20px
                            .search-opt
                                width: 100%
                                max-width: 100%
                                background-color: Grey-20
                                input[type="text"]
                                    background-color: Grey-20

                        .wishAlternative
                            margin-top: 5rem
                            .title-break
                                PositionFlex(flex-start,center)
                                padding 0 25px
                                .icon
                                    width: 24px
                                    height 24px
                                    margin-right: 10px
                                    background: Blue-30
                                    color Blue-60
                                    borderRadius(100%)
                                    PositionFlex(center,center)
                                    i
                                        width: 14px
                                        height 14px
                                        stroke-width: 3
                                span
                                    font-family: "Poppins-Bold"

                        .gallery
                            PositionFlex(space-around,center)
                            margin-bottom: 2rem
                            .item
                                width: 31%
                                height 120px
                                position relative
                                img 
                                    object-fit: cover
                                    width: 100%
                                    height 120px
                                a 
                                    width: 18px
                                    height 18px
                                    background: white
                                    color Blue-60
                                    borderRadius(100%)
                                    PositionAbsolute(inherit,0,5px,inherit)
                                    PositionFlex(center,center)
                                    i
                                        width: 10px
                                        height 10px
                                        stroke-width: 3
                        .note
                            background: Grey-20
                            borderRadius(5px)
                            height 140px
                            width 100%

                        .table
                            .circle
                                background: Blue-30
                                width 18px
                                height 18px
                                i
                                    width 12px
                                    height 12px
                                    stroke-width: 3
                            strong
                                color Grey-60


.circle
    width 20px
    height 20px
    background: Grey-20
    PositionFlex(center,center)
    borderRadius(100%)


/** Providers **/
.provider-wrapper
    .boxes
        .item 
            padding 35px 20px
            ._top
                span
                    margin-top: 5px
    .filter-service
        margin 30px 0
        .subtitle-break
            font-size: font-title-6
        .box-white-wrapper
            background: initial
            box-shadow: none
            border 0
            padding 0
            .item
                margin-right: 15px
                input[type='text']
                    background: white
                    border 0
    .providers-list
        margin-top: 70px
        .block-title
            PositionFlex(flex-end,center)
            .title-6
                font-family: "Poppins-Regular"
                width: 50%
        .table
            th 
                i
                    stroke-width: 3;
                    height: 18px;
                    width: 18px;
            tr
                td 
                    .chkb-group
                        input[type="checkbox"] 
                            &+label
                                &:before
                                    border-color Grey-20
                    .status
                        background: Grey-20
                        padding 4px 15px
                        font-size: font-p-3
                        height auto
                        justify-content: flex-start;
                        font-family: "Poppins-Regular";
                        display: inline-flex;
                &:hover
                    cursor pointer
                    td
                        background: Grey-20
                        .status
                            background: white
                        &:nth-child(1)
                            background: white



.addRowPlus
    color Blue-60
    cursor: pointer
    font-size: font-p-3
    font-family: "Poppins-Medium"
    PositionFlex(flex-start,center)
    .circle
        width: 24px
        height: 24px
        color white
        margin-right: 12px
        background: Blue-60
        i 
            width: 12px
            height 12px
    &:hover 
        color Blue-60
        .circle
            background: Blue-30
            color Blue-60
    

.full-width
    .collapsed
        .provider-content
            width calc(100% - 170px)

.provider-content
    padding-bottom: 70px
    width calc(100% - 315px)
    margin: 0 auto
    .head
        padding-bottom: 25px
        border-bottom: 1px solid Grey-30
        .wrap-button-actions
            a 
                margin-right: 12px
                &:nth-last-child(1)
                    margin-right: 0
                    i
                        stroke-width: 3
    .new-provider-wrapper
        .box-white-wrapper
            margin-bottom: 35px
            .item
                margin-right: 15px
                img
                    margin-top: 25px
                    object-fit: cover
                    width 100%
                    height 240px
            .columns
                margin-bottom: 15px
                &:nth-last-child(1)
                    margin-bottom: 0

        .contact-provider
            width: 100%
            .title-break
                justify-content: space-between
                .title-6
                    width: 45%
            .table 
                th
                    i
                        stroke-width: 3
                        height: 18px
                        width 18px
                tr
                    td 
                        border-bottom: 15px solid white 
                        background: White-50
                        p   
                            margin-bottom: 10px
                            i
                                width 16px
                                height 16px
                                margin-right: 6px
                                color Grey-70 
                        &:nth-child(1)
                            background: white

                    .name
                        font-family: "Poppins-SemiBold"
                        color Grey-50
                    .notes
                        width: 100%
                        height: 70px
                        padding: 15px
                        overflow-y: auto
                        min-width: 220px
                        borderRadius(8px)
                        border 1px solid Grey-45
                        
                    .circle
                        background: Grey-20
                        width: 25px
                        height: 25px
                        i
                            width: 14px
                            height: 14px
                            color Blue-60
                        &:hover
                            background: Blue-60
                            i
                                color white
            
            .addRowPlus
                margin-left: 50px 
                margin-bottom: 20px
            .empty-board
                justify-content: center
                min-height: 160px
                .addRowPlus
                    border: 1px solid Blue-60
                    height: 40px
                    padding: 6px 25px
                    borderRadius(5px)
                    margin-bottom: 0px
                    justify-content: center
                    .circle
                        display none
                        background: white
                        color Blue-60
                    &:hover
                        background: Blue-60
                        color white
            .group-checkbox
                .check
                    border-color: Blue-60
                input[type=checkbox]:checked ~ .check::before
                    background: Blue-60

    .provider-header
            borderRadius(8px)
            PositionFlex(center,center)
            height 100px
            background: White-70
            border: solid 0.5px rgba(173, 194, 216, 0.2);
            width: 100%
            margin 0px auto 30px auto
            .item
                PositionFlex(center,center)
                width 31%
                .icon
                    borderRadius(100%)
                    width: 48px
                    height 48px
                    margin-right: 15px
                    PositionFlex(center,center)
                    i 
                        stroke-width: 3
                        width: 20px
                        height 20px
                .info
                    span 
                        font-family: "Poppins-Medium"
                        color Grey-55
                    p
                        color Grey-70
                        font-family: "Poppins-Medium"
        
    .provider-payment
        .big-boxes
            .item
                height auto
                width 42%
                &:nth-last-child(1)
                    width 55%
                .box-white-wrapper
                    borderRadius(8px)
                    margin-bottom: 20px
                    .top-box
                        PositionFlex(flex-start,center)
                        
                    .item
                        width 100%
                        height auto
                        position relative
                        margin-right: 0
                        label
                            color Grey-55
                        .subtitle-break
                            margin-top: 25px
                        .alert-box
                            .dayInfo
                                PositionFlex(flex-start,center)
                                borderRadius(8px    )
                                background White-50
                                padding 10px 15px
                                margin 20px 0 25px 0
                                position relative
                                .title
                                    color Grey-70
                                    font-family: "Poppins-Medium"
                                    PositionFlex(flex-start,center)
                                    i
                                        color Blue-60
                                        width: 18px;
                                        height: 18px;
                                        margin-right: 10px;
                                        position relative
                                        left inherit
                                        bottom inherit
                                input[type='text']
                                    margin 0 15px
                                    border-color Grey-80
                                    max-width 40px
                                    background: initial
                            .addMore
                                justify-content: flex-start
                                padding-left: 6px

                        .dayInfo
                                PositionFlex(flex-start,center)
                                padding 15px 12px
                                label 
                                    width: 100%
                                span    
                                    margin-left: 6px
                                    font-family: "Poppins-Regular"
                                input[type="text"]
                                    background-color: initial
                                    border-color: Grey-45 
                                    max-width 35px
                                

                    .footer
                        border-top 1px solid White-50
                        padding 18px 0 0

                    .border 
                            borderRadius(16px)
                            margin-bottom: 0
                            margin-right: 15px
                            border 1px solid Grey-25
                            box-sizing: border-box
                            &:nth-last-child(1)
                                margin-right: 0px
                            .top
                                padding 20px 12px 0

                        .active
                            border-color Blue-60
                            label 
                                color white
                            .dayInfo
                                background: Blue-60
                                borderRadius(16px)
                                color white
                            .miniInput 
                                border-color white
                    .headline
                        border-bottom: 1px solid White-20
                        padding-bottom: 8px
                        margin-bottom: 20px
                        font-size: font-p-2
                        font-family: "Poppins-Medium"
                        color Grey-55
            
            .config-date-special
                height 655px
                .box-white-wrapper
                    height 100%
                    align-items: flex-start
                    position relative
                    overflow-y: auto
                    .item 
                        margin-right 0
                        .dayInfo
                            padding 0
                        .rule 
                            position relative
                            borderRadius(8px)
                            margin-bottom: 15px
                            padding 20px
                            box-shadow: 0 2px 3px 0 rgba(173, 194, 217, 0.1);
                            border: solid 1px #ebeff6;
                            background-color: #f5f7fa;
                            &:nth-child(2)
                                .deleteRule
                                    display: none
                            .item
                                margin-right: 20px
                            .deleteRule
                                PositionAbsolute(8px,45px,inherit,inherit,0)
                    .columns
                        margin-bottom: 9px
                    .d-flex
                        margin-bottom: 10px
                        .addMore
                            PositionAbsolute(-10px,0px,inherit,inherit,0)
                            i
                                height 20px !important
                                width: 20px !important

                    .wrap-dates
                        PositionFlex(space-between,flex-start)
                        h3 
                            width: 100%
                            color Blue-60
                            font-family: "Poppins-Regular"
                            font-weight: normal
                            margin-bottom: 20px
                        .line
                            width: 48%
                            position relative
                            .dayInfo
                                PositionFlex(space-between,center)
                                input[type="text"]
                                    max-width: 65%                                    
                                .icon
                                    PositionAbsolute(0,0,0,inherit,0)
                                    background: Blue-60
                                    borderRadius(4px)
                                    color white
                                    width 30px
                                    height 30px
                                    PositionFlex(center,center)
                                    i
                                        position relative
                                        left inherit
                                        bottom inherit
                                        width 16px
                                        height: 16px
                                        stroke-width: 3
        .accounts
            margin-top: 30px

    
    .provider-notes
        .disclaimer
            margin 20px 0
            color Grey-55
            font-size: font-p-2
        .item
            position relative
            .limit
                PositionAbsolute(inherit, 25px, 15px, inherit, 0)
                color Green-60
                font-family: "Poppins-Bold"
                font-size: font-p-2

.addMore
    borderRadius(4px)
    PositionFlex(center,center)
    font-family: "Poppins-Medium"
    color Blue-60
    padding-left: 50px
    margin 20px 0
    span   
        order 2
    i
        order 1
        width: 20px
        height: 20px
        stroke-width: 3
        background: Blue-60
        borderRadius(100%)
        color white    
        padding: 3px;
        box-sizing: border-box;
        margin-right: 10px
        position relative !important
        left inherit !important
        bottom inherit !important

.d-flex
    align-items: center
    color Grey-55

form 
 .footer-buttons
    PositionFlex(space-between,center)
    position fixed
    bottom 0
    right 0
    left 220px
    background: white
    height: 60px;
    padding 0 20px
    -webkit-box-shadow: 0 2px 3px 0 rgba(173,194,217,0.1);
    box-shadow: 0 2px 3px 0 rgba(173,194,217,0.1);
    .footer-left
        width: 50%
        padding-left: 8%
        a
            color: Blue-60
            font-family: "Poppins-SemiBold";
            font-size: 12px;
            letter-spacing: 0.4px;
            cursor: pointer;
            i
                width: 18px;
                height: 18px;
                stroke-opacity: 6;
                margin-right: 6px
    .footer-right
        text-align right 
        width: 50%
        padding-right: 8%

.btn
    PositionFlex(center,center)
    height 40px
    i
        stroke-width: 3
        margin-left: 6px
        width: 18px
        height 18px