<template>
  <div id="app" :class="['page-content', {'main-menu-collpased': isActive}, {'full-width': fixed}]">
    <div :class="['sidebar-wrapper',  {'toFixed': fixed} ]">
       <CreatiappsSidebar @toggleMenu="statusMenu" :collapseMenu="isActive"/>
    </div>
    <div class="content-wrapper">
      <router-view :olman="isActive" @statusMenu="statusMenu" @statusSubMenu="statusSubMenu"/>
    </div>
  </div>
</template>
<script>
import CreatiappsSidebar from '@/components/Sidebar.vue'
export default {
  components: {
    CreatiappsSidebar
  },
  data () {
    return {
      isActive: false,
      josue: false,
      fixed: false
    }
  },
  methods: {
    statusMenu (status) {
      this.isActive = status
      // if (!this.isActive && this.fixed) {
      //   this.fixed = false
      // }
    },
    statusSubMenu (status, Tfixed) {
      if (status) {
        this.isActive = status
      }
      this.fixed = Tfixed
    }
  }
}
</script>
