<template>
    <div :class="['main-content',{'collapsed': subMenuStatus }]">
      <MenuCreateQuote @toggleSubMenu="statusSubMenu" :mainMenuStatus="olman" :showSubMenu="subMenuStatus" :menuContent="MenuOptions"/>
      <div :class="['create-new-quote', {'hide': showSearchService}]">
          <div class="head">
              <div class="left">
                <router-link to="/quotes"><feather type='arrow-left' stroke-width="3" class="back-page"></feather></router-link>
                <span class="title-3">Cotización Nueva</span>
              </div>
          </div>
          <div class="wrapper-builder-quote">
              <form-wizard ref="wizard" title="" subtitle="" step-size="xs">
                  <tab-content title="Datos Básicos">
                      <div class="title-break">
                          <div class="title-6">Información del booking</div>
                          <a href="javascript:void(0)" class="p3">Rellenar datos lead <feather type="link"></feather></a>
                      </div>
                      <div class="box-white-wrapper">
                        <div class="columns">
                            <div class="item">
                                <label for="">Tipo de viaje</label>
                                <feather type="search" class="search-icon"></feather>
                                <input type="text" class="indent-25">
                                <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                            </div>
                            <div class="item">
                                <label for="">Fecha de inicio</label>
                                <input type="text" class="indent-25">
                                <feather type="calendar" class="calendar-icon" stroke-width="3"></feather>
                            </div>
                            <div class="item">
                                <label for="">Fecha Final</label>
                                <input type="text" class="indent-25">
                                <feather type="calendar" class="calendar-icon" stroke-width="3"></feather>
                            </div>
                        </div>
                      </div>
                      <div class="title-break">
                          <div class="title-6">Datos del cliente</div>
                      </div>
                      <div class="box-white-wrapper">
                        <div class="columns">
                            <div class="item">
                                <label for="">Nombre</label>
                                <input type="text" class="">
                            </div>
                            <div class="item">
                                <label for="">Correo electrónico</label>
                                <feather type="search" class="search-icon"></feather>
                                <input type="text" class="indent-25">
                                <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                            </div>
                            <div class="item">
                                <label for="">Nacionalidad</label>
                                <feather type="search" class="search-icon"></feather>
                                <input type="text" class="indent-25">
                                <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="item">
                                <label for="">Numero telefonico</label>
                                <feather type="search" class="search-icon"></feather>
                                <input type="text" class="indent-25">
                                <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                            </div>
                            <div class="item">
                                <label for="">Idioma</label>
                                <feather type="search" class="search-icon"></feather>
                                <input type="text" class="indent-25">
                                <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                            </div>
                            <div class="item">
                                <label for="">Tipo de lead</label>
                                <feather type="search" class="search-icon"></feather>
                                <input type="text" class="indent-25">
                                <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                            </div>
                        </div>
                      </div>
                      <div class="title-break">
                          <div class="title-6">Distribución Habitaciones</div>
                          <a href="javascript:void(0)" class="p3" @click="addRoom()">Agregar Habitación<feather type="plus"></feather></a>
                      </div>
                      <div class="box-white-wrapper">
                          <div class="item">
                              <div class="wrap-tabs">
                                  <b-tabs class="tabs-module">
                                      <template v-for="(item, index) in rooms">
                                          <b-tab :title="item.name"  :key="`tab-${index}`">
                                              <div class="columns">
                                                  <div class="item">
                                                      <label for="">Tipo</label>
                                                      <feather type="search" class="search-icon"></feather>
                                                      <input type="text" class="indent-25">
                                                      <feather type="calendar" class="calendar-icon" stroke-width="3"></feather>
                                                  </div>
                                                  <div class="item">
                                                      <label for="">Adultos</label>
                                                      <input type="text" class="indent-25">
                                                      <feather type="calendar" class="calendar-icon" stroke-width="3"></feather>
                                                  </div>
                                                  <div class="item">
                                                      <label for="">Niños</label>
                                                      <input type="text" class="indent-25">
                                                      <feather type="calendar" class="calendar-icon" stroke-width="3"></feather>
                                                  </div>
                                              </div>
                                              <div class="wrap-tabs sub-tabs">
                                                <b-tabs content-class="mt-3" class="tabs-module">
                                                  <template v-for="(pax, paxIndex) in passenger">
                                                    <b-tab :title="pax.name"  :key="`tab-${paxIndex}`">
                                                      <div class="columns">
                                                          <div class="item">
                                                              <label for="">Nombre</label>
                                                              <input type="text" class="">
                                                          </div>
                                                          <div class="item">
                                                              <label for="">Correo electrónico</label>
                                                              <feather type="search" class="search-icon"></feather>
                                                              <input type="text" class="indent-25">
                                                              <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                                                          </div>
                                                      </div>
                                                      <div class="columns">
                                                          <div class="item">
                                                              <label for="">Fecha de nacimiento</label>
                                                              <input type="text" class="indent-25">
                                                              <feather type="calendar" class="calendar-icon" stroke-width="3"></feather>
                                                          </div>
                                                          <div class="item">
                                                              <label for="">Nacionalidad</label>
                                                              <feather type="search" class="search-icon"></feather>
                                                              <input type="text" class="indent-25">
                                                              <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                                                          </div>
                                                          <div class="item">
                                                              <label for="">Numero de pasaporte</label>
                                                              <feather type="search" class="search-icon"></feather>
                                                              <input type="text" class="indent-25">
                                                              <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                                                          </div>
                                                      </div>
                                                    </b-tab>
                                                  </template>
                                                </b-tabs>
                                              </div>
                                          </b-tab>
                                      </template>
                                  </b-tabs>
                              </div>
                          </div>
                      </div>
                  </tab-content>
                  <tab-content title="Agregar Servicios">
                      <div class="title-break">
                          <div class="title-6">Lista de servicios</div>
                          <a href="javascript:void(0)" class="p3" @click="showWizardService()">Agregar Servicio <feather type="plus"></feather></a>
                      </div>
                      <div class="content-itinerary">
                        <Accordion :showTabOptions="true" :items="itinerary" v-on:deleteDay="removeDay"/>
                        <div class="title-break">
                          <a href="javascript:void(0)" class="p3" @click="addDay()">Agregar d&iacute;a <feather type="plus"></feather></a>
                        </div>
                      </div>
                  </tab-content>
                  <tab-content title="Resumen y Ajustes">
                     <div class="booking-single">
                        <div class="title-break">
                            <div class="title-6">Datos Básicos</div>
                        </div>
                        <div class="highlights">
                            <div class="two-blocks">
                                <div class="title p2">Información general</div>
                                <div class="wrap-items">
                                    <div class="item">
                                        <div class="icon"><feather type="user"></feather></div>
                                        <div class="info">
                                            <p class="p3"><strong>Cliente:</strong> {{ bookingInfo.client }}</p>
                                            <p class="p3"><strong>Idioma:</strong> {{ bookingInfo.language }}</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon"><feather type="calendar"></feather></div>
                                        <div class="info">
                                            <p class="p3"><strong>Fecha Inicio:</strong> {{ bookingInfo.travel_date }}</p>
                                            <p class="p3"><strong>Ciudad:</strong> {{ bookingInfo.city }}</p>
                                        </div>
                                    </div>
                                    <div class="line-break"></div>
                                    <div class="item">
                                        <div class="icon"><feather type="list"></feather></div>
                                        <div class="info">
                                            <p class="p3"><strong>D&iacute;as de viaje::</strong> {{ bookingInfo.travel_days }} D&iacute;as</p>
                                            <p class="p3"><strong>Valor:</strong> {{ bookingInfo.booking_budget }}</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon"><feather type="calendar"></feather></div>
                                        <div class="info">
                                            <p class="p3"><strong>Fecha final:</strong> 20 Nov 2018</p>
                                            <p class="p3"><strong>Ciudad:</strong> Tortuguero</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="one-blocks">
                                <div class="title p2">Sobre la ruta</div>
                                <div class="wrap-items">
                                    <div class="item">
                                        <div class="icon"><feather type="map-pin"></feather></div>
                                        <div class="info">
                                            <p class="p3"><strong>Destinos por visitar:</strong></p>
                                            <p class="p3">{{ bookingInfo.cities}} Destinos</p>
                                        </div>
                                    </div>
                                    <div class="line-break"></div>
                                    <div class="item">
                                        <div class="icon"><feather type="file"></feather></div>
                                        <div class="info">
                                            <p class="p3"><strong>Servicios adquiridos:</strong></p>
                                            <p class="p3">22 Servicios en el viaje</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="highlights inverse">
                            <div class="two-blocks">
                                <div class="title p2">Distribución</div>
                                <div class="wrap-items p-3">
                                    <div class="wrap-tabs">
                                        <b-tabs content-class="mt-3" class="tabs-module">
                                            <template v-for="(item, index) in bookingInfo.pax.rooms">
                                                <b-tab :title="item.name"  :key="`tab-${index}`">
                                                  <div class="room-type p3"><strong>Tipo:</strong> {{ item.type }}</div>
                                                  <tablePassagers :passengers="item.detail"/>
                                                </b-tab>
                                            </template>
                                        </b-tabs>
                                    </div>
                                </div>
                            </div>
                            <div class="one-blocks">
                                <div class="title p2">Sobre los viajeros</div>
                                <div class="wrap-items">
                                    <div class="item">
                                        <div class="icon"><feather type="user"></feather></div>
                                        <div class="info">
                                            <p class="p3"><strong>Adultos:</strong> {{ bookingInfo.pax.adults }} adultos</p>
                                            <p class="p3"><strong>Niños:</strong> {{ bookingInfo.pax.children }} niños</p>
                                        </div>
                                    </div>
                                    <div class="line-break"></div>
                                    <div class="item">
                                        <div class="icon"><feather type="map-pin"></feather></div>
                                        <div class="info">
                                            <p class="p3"><strong>Cantidad de habitaciones:</strong></p>
                                            <p class="p3">{{ bookingInfo.pax.rooms.length }} habitaciones</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="title-break">
                            <div class="title-6">Lista de servicios</div>
                        </div>
                        <div class="itinerary">
                            <Accordion :items="bookingInfo.itinerary.services"/>
                        </div>
                        <div class="service-detail">
                            <div class="info">
                                <h2 class="p2">{{ bookingInfo.itinerary.routes[0].place }}</h2>
                                <p class="p3">{{ bookingInfo.itinerary.routes[0].description }}</p>
                                <div class="webChanges">
                                    <h2 class="p2">Anotaciones</h2>
                                    <div class="comments">
                                        <p class="p3">{{ bookingInfo.itinerary.routes[0].web_changes }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="map">
                                <img src="@/assets/images/map.png" alt="" class="img-fluid responsive">
                            </div>
                        </div>
                        <div class="service-detail wrap-gallery">
                            <div class="info">
                                <div class="services p3">
                                    <div class="item subtitle">Lista de servicios</div>
                                    <div :class="['item', `${service.type}`]" v-for="(service, i) in bookingInfo.itinerary.routes[0].services" :key="`ser-${i}`">
                                        <feather type="alert-triangle"> v-if="service.type != ''"></feather>
                                        <feather type="folder" v-if="service.type == ''"></feather> {{service.description}}
                                    </div>
                                </div>
                            </div>
                            <div class="thumbanils p3">
                                <div class="item subtitle">Fotografías del destino</div>
                                <div class="item">
                                    <img src="@/assets/images/image-2.jpg" alt="">
                                    <a href="javascript:void(0)"><feather type="alert-circle"></feather></a>
                                </div>
                                <div class="item">
                                    <img src="@/assets/images/image-1.jpg" alt="">
                                    <a href="javascript:void(0)"><feather type="alert-circle"></feather></a>
                                </div>
                            </div>
                        </div>
                     </div>
                  </tab-content>
                  <tab-content title="Enviar y Exportar" class="send-quote">
                      <div class="title-break">
                        <div class="title-6">Envia tu Cotización</div>
                        <a href="javascript:void(0)" class="p3">Descargar <feather type="file-text"></feather></a>
                      </div>
                      <div class="subtitle-break">Información de envio</div>
                      <div class="box-white-wrapper">
                        <div class="columns">
                            <div class="item">
                                <label for="">Idioma</label>
                                <!-- <feather type="search" class="search-icon"></feather> -->
                                <!-- <input type="text" class="indent-25"> -->
                                <b-form-input id="input-invalid" :state="null" placeholder="Invalid input"></b-form-input>
                                <!-- <feather type="chevron-down" class="arrow" stroke-width="3"></feather> -->
                            </div>
                            <div class="item">
                                <label for="">Asunto</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="columns">
                            <div class="item">
                                <label for="">Destinatario</label>
                                <input type="text">
                            </div>
                            <div class="item">
                                <label for="">C.C</label>
                                <input type="text">
                            </div>
                        </div>
                      </div>
                      <div class="subtitle-break">Redacta tu mail</div>
                      <div class="box-white-wrapper wysiwyg">
                        <vue-editor v-model="content" :editorToolbar="customToolbar"></vue-editor>
                      </div>
                      <div class="subtitle-break">Elije que vas a adjuntar</div>
                      <div class="wrap-checkbox">
                          <div class="chkb-group">
                              <input type="checkbox" id="chkb-1" name="itinerario" value="pdf" checked>
                              <label for="chkb-1" class="p2">Itinerario en pdf</label>
                          </div>

                          <div class="chkb-group">
                              <input type="checkbox" id="chkb-2" name="itinerario" value="web" checked>
                              <label for="chkb-2" class="p2">Link de itinerario web</label>
                          </div>
                      </div>
                  </tab-content>
                  <template slot="footer" slot-scope="props">
                      <div class=wizard-footer-left>
                          <a  v-if="props.activeTabIndex > 0"  @click="josue2()"><feather type="arrow-left" class="back-page" stroke-width="3"></feather> Retroceder</a>
                      </div>
                      <div class="wizard-footer-right">
                          <a href="javascript:void(0)" v-if="!props.isLastStep" @click="josue()" class="button-blue">Siguiente paso</a>
                          <a href="javascript:void(0)" v-else @click="onComplete()" class="button-blue">{{props.isLastStep ? 'Enviar' : ''}}</a>
                      </div>
                  </template>
              </form-wizard>
              <ViewPanelInformation>
                <div slot="view-body">
                    <div class="header title-6">Vista rapida de cotización</div>
                        <div class="info">
                            <div class="subtitle title-6">Viaje de Aventura para 2 personas</div>
                            <div class="service-detail">
                                <div class="box">
                                    <div class="title p2">Presupuesto cliente</div>
                                    <div class="price title-3">
                                        2550 USD
                                        <span class="p3">En total</span>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="title p2">Costo actual</div>
                                    <div class="price title-3">
                                        1700 USD
                                        <span class="p3">En total</span>
                                    </div>
                                </div>
                            </div>
                            <div class="agent-comments">
                                <div class="title p2">Anotaciones del vendedor</div>
                                <div class="detail p3">
                                    El cliente busca un viaje que permita muchas actividades para parejas, sobre todo si están relacionadas con fiestas y actividades de playa.
                                </div>
                            </div>
                        </div>
                  </div>
              </ViewPanelInformation>
          </div>
      </div>
      <AddServices :class="{'hide': !showSearchService}" v-on:returnWizardQuote="responseAddService($event)"></AddServices>
    </div>
</template>
<script>
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
import { FormWizard, TabContent } from 'vue-form-wizard'
import { VueEditor } from 'vue2-editor'
import Accordion from '@/components/Accordion.vue'
import ViewPanelInformation from '@/components/ViewPanelInformation.vue'
import tablePassagers from '@/components/TablePax.vue'
import AddServices from '@/components/Add-Services.vue'
import MenuCreateQuote from '@/components/Menus/SubMenu-CreateQuote.vue'
import { mapState } from 'vuex'
export default {
  props: {
    olman: Boolean
  },
  data () {
    return {
      activeTabIndex: 0,
      subMenuStatus: false,
      showSearchService: false,
      itinerary: [
        {
          title: '21 Nov 2019',
          detail: [
            {
              code: 'ACLBHI',
              location: 'Liberia',
              start_date: '20-10-19',
              end_date: '20-10-19',
              provider: 'Holiday Inn',
              alt: '1',
              price: '897 USD',
              percentage: '20%',
              status_text: 'Description',
              status: 1
            },
            {
              code: 'ACLBHI',
              location: 'Liberia',
              start_date: '20-10-19',
              end_date: '20-10-19',
              provider: 'Holiday Inn',
              alt: '1',
              price: '897 USD',
              percentage: '20%',
              status_text: 'Description',
              status: 1
            },
            {
              code: 'ACLBHI',
              location: 'Liberia',
              start_date: '20-10-19',
              end_date: '20-10-19',
              provider: 'Holiday Inn',
              alt: '1',
              price: '897 USD',
              percentage: '20%',
              status_text: 'Description',
              status: 1
            },
            {
              code: 'ACLBHI',
              location: 'Liberia',
              start_date: '20-10-19',
              end_date: '20-10-19',
              provider: 'Holiday Inn',
              alt: '1',
              price: '897 USD',
              percentage: '20%',
              status_text: 'Description',
              status: 1
            },
            {
              code: 'ACLBHI',
              location: 'Liberia',
              start_date: '20-10-19',
              end_date: '20-10-19',
              provider: 'Holiday Inn',
              alt: '1',
              price: '897 USD',
              percentage: '20%',
              status_text: 'Description',
              status: 1
            },
            {
              code: 'ACLBHI',
              location: 'Liberia',
              start_date: '20-10-19',
              end_date: '20-10-19',
              provider: 'Holiday Inn',
              alt: '1',
              price: '897 USD',
              percentage: '20%',
              status_text: 'Description',
              status: 1
            }
          ],
          tags: [
            {
              name: 'Liberia'
            },
            {
              name: 'Guanacaste'
            }
          ]
        },
        {
          title: '21 Nov 2019',
          detail: [
            {
              code: 'ACLBHI',
              location: 'Liberia',
              start_date: '20-10-19',
              end_date: '20-10-19',
              provider: 'Holiday Inn',
              alt: '1',
              price: '897 USD',
              percentage: '20%',
              status_text: 'Description',
              status: 1
            },
            {
              code: 'ACLBHI',
              location: 'Liberia',
              start_date: '20-10-19',
              end_date: '20-10-19',
              provider: 'Holiday Inn',
              alt: '1',
              price: '897 USD',
              percentage: '20%',
              status_text: 'Description',
              status: 1
            },
            {
              code: 'ACLBHI',
              location: 'Liberia',
              start_date: '20-10-19',
              end_date: '20-10-19',
              provider: 'Holiday Inn',
              alt: '1',
              price: '897 USD',
              percentage: '20%',
              status_text: 'Description',
              status: 1
            },
            {
              code: 'ACLBHI',
              location: 'Liberia',
              start_date: '20-10-19',
              end_date: '20-10-19',
              provider: 'Holiday Inn',
              alt: '1',
              price: '897 USD',
              percentage: '20%',
              status_text: 'Description',
              status: 1
            },
            {
              code: 'ACLBHI',
              location: 'Liberia',
              start_date: '20-10-19',
              end_date: '20-10-19',
              provider: 'Holiday Inn',
              alt: '1',
              price: '897 USD',
              percentage: '20%',
              status_text: 'Description',
              status: 1
            },
            {
              code: 'ACLBHI',
              location: 'Liberia',
              start_date: '20-10-19',
              end_date: '20-10-19',
              provider: 'Holiday Inn',
              alt: '1',
              price: '897 USD',
              percentage: '20%',
              status_text: 'Description',
              status: 1
            }
          ],
          tags: [
            {
              name: 'Liberia'
            },
            {
              name: 'Guanacaste'
            }
          ]
        },
        {
          title: '21 Nov 2019',
          detail: [
            {
              code: 'ACLBHI',
              location: 'Liberia',
              start_date: '20-10-19',
              end_date: '20-10-19',
              provider: 'Holiday Inn',
              alt: '1',
              price: '897 USD',
              percentage: '20%',
              status_text: 'Description',
              status: 1
            },
            {
              code: 'ACLBHI',
              location: 'Liberia',
              start_date: '20-10-19',
              end_date: '20-10-19',
              provider: 'Holiday Inn',
              alt: '1',
              price: '897 USD',
              percentage: '20%',
              status_text: 'Description',
              status: 1
            },
            {
              code: 'ACLBHI',
              location: 'Liberia',
              start_date: '20-10-19',
              end_date: '20-10-19',
              provider: 'Holiday Inn',
              alt: '1',
              price: '897 USD',
              percentage: '20%',
              status_text: 'Description',
              status: 1
            },
            {
              code: 'ACLBHI',
              location: 'Liberia',
              start_date: '20-10-19',
              end_date: '20-10-19',
              provider: 'Holiday Inn',
              alt: '1',
              price: '897 USD',
              percentage: '20%',
              status_text: 'Description',
              status: 1
            },
            {
              code: 'ACLBHI',
              location: 'Liberia',
              start_date: '20-10-19',
              end_date: '20-10-19',
              provider: 'Holiday Inn',
              alt: '1',
              price: '897 USD',
              percentage: '20%',
              status_text: 'Description',
              status: 1
            },
            {
              code: 'ACLBHI',
              location: 'Liberia',
              start_date: '20-10-19',
              end_date: '20-10-19',
              provider: 'Holiday Inn',
              alt: '1',
              price: '897 USD',
              percentage: '20%',
              status_text: 'Description',
              status: 1
            }
          ],
          tags: [
            {
              name: 'Liberia'
            },
            {
              name: 'Guanacaste'
            }
          ]
        }
      ],
      rooms: [
        {
          name: 'Hab 1'
        },
        {
          name: 'Hab 2'
        }
      ],
      passenger: [
        {
          name: 'Adulto 1'
        },
        {
          name: 'Adulto 2'
        }
      ],
      content: '',
      customToolbar: [
        [{ header: [false, 1, 2, 3, 4, 5, 6] }],
        [{ size: ['small', false, 'large', 'huge'] }],
        ['bold', 'italic', 'underline', 'strike'],
        [
          { align: '' },
          { align: 'center' },
          { align: 'right' },
          { align: 'justify' }
        ],
        [{ list: 'ordered' }, { list: 'bullet' }],
        [{ indent: '-1' }, { indent: '+1' }],
        [{ color: [] }, { background: [] }],
        ['link'],
        ['clean']
      ],
      bookingInfo: {},
      MenuOptions: {
        titleMenu: 'Crear Cotización',
        secondaryMenu: [
          {
            title: 'Datos Básicos',
            lazy: false,
            redirect: false,
            toShow: 0,
            icon: 'book',
            submenu: [
              {
                title: 'Información booking'
              },
              {
                title: 'Datos del cliente'
              },
              {
                title: 'Distribución'
              }
            ]
          },
          {
            title: 'Agregar servicios',
            icon: 'layers',
            submenu: false
          },
          {
            title: 'Resumen y ajustes',
            icon: 'file-text',
            submenu: false
          },
          {
            title: 'Envio',
            icon: 'mail',
            submenu: false
          }
        ],
        otherMenu: [
          {
            title: 'Extras',
            options: [
              {
                title: 'Commission',
                icon: 'layers'
              },
              {
                title: 'Otros',
                icon: 'layers'
              }
            ]
          }
        ]
      }
    }
  },
  components: {
    FormWizard,
    TabContent,
    Accordion,
    ViewPanelInformation,
    AddServices,
    VueEditor,
    tablePassagers,
    MenuCreateQuote
  },
  watch: {
    olman: function (newVal, oldVal) {
      if (oldVal) {
        this.subMenuStatus = false
      }
      // this.subMenuStatus = newVal
      console.log('Nuevo:' + newVal + ' Viejo' + oldVal)
    }
  },
  computed: {
    ...mapState([
      'quotes'
    ])
  },
  beforeMount () {
    this.bookingInfo = this.quotes.filter((item) => {
      return Number(1) === Number(item.booking_id)
    })
    this.bookingInfo = this.bookingInfo[0]
    console.log(this.bookingInfo)
    this.$emit('statusMenu', true)
  },
  mounted () {
    this.$refs.wizard.naMl = ((1 / this.$refs.wizard.tabs.length) * 100) / 2
    this.showSearchService = false
    console.log('OJO', this.showSearchService)
    console.log('JOSUE ', this.olman)
    console.log('SUB ', this.subMenuStatus)
    this.statusSubMenu(false, true)
  },
  methods: {
    onComplete: function () {
      alert('Yay. Done!')
    },
    josue (el, va) {
      this.$refs.wizard.tabs[this.$refs.wizard.activeTabIndex].checked = false
      this.$refs.wizard.progressWidth = 80
      this.$refs.wizard.tabs[this.$refs.wizard.activeTabIndex].compl = true
      this.$refs.wizard.nextTab()
    },
    josue2 (el, va) {
      this.$refs.wizard.tabs[this.$refs.wizard.activeTabIndex].compl = false
      this.$refs.wizard.tabs[this.$refs.wizard.activeTabIndex - 1].compl = false
      this.$refs.wizard.tabs[this.$refs.wizard.activeTabIndex].checked = false
      this.$refs.wizard.prevTab()
    },
    isLastStep () {
      if (this.$refs.wizard) {
        return this.$refs.wizard.isLastStep
      }
      return false
    },
    addRoom () {
      this.rooms.push({ name: 'Hab ' + (this.rooms.length + 1) })
    },
    addDay () {
      this.itinerary.push({ title: '', details: [{}] })
    },
    removeDay: function (event) {
      this.itinerary.splice(event, 1)
    },
    showWizardService () {
      this.showSearchService = !this.showSearchService
    },
    responseAddService (obj) {
      console.log('OBK', obj)
      if (obj === 'close') {
        this.showSearchService = false
      }
    },
    statusSubMenu (status, fixed) {
      console.log('assss ', status)
      this.subMenuStatus = status
      this.$emit('statusSubMenu', status, fixed)
    }
  }
}
</script>
