<template>
    <div class="templates-layout">
        <div class="head">
            <div class="left">
               <a href=""><feather type="arrow-left" class="back-page" stroke-width="3"></feather></a>
               <span class="title-3">Plantillas</span>
            </div>
        </div>
        <div class="template-options">
            <div class="big-boxes">
                <div class="item">
                    <h2 class="title-5">Plantillas Itinerarios y planes</h2>
                    <feather type="book-open"></feather>
                    <router-link to="/templates-list"></router-link>
                </div>
                <div class="item">
                    <h2 class="title-5">Plantilla e-mail y extras</h2>
                    <feather type="mail"></feather>
                    <router-link to="/emails-list"></router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
  mounted () {
    this.statusSubMenu(false, false)
  },
  methods: {
    statusSubMenu (status, fixed) {
      this.$emit('statusSubMenu', status, fixed)
    }
  }
}
</script>
