<template>
    <div class="create-new-template">
        <div class="head">
            <div class="left">
               <router-link to="/emails-list"><feather type="arrow-left" class="back-page" stroke-width="3"></feather></router-link>
               <span class="title-3">Creador de plantillas</span>
            </div>
        </div>
        <div class="wrapper-builder-template">
            <form-wizard ref="wizard" title="" subtitle="" step-size="xs">
                <tab-content title="Datos Básicos">
                    <div class="title-break">
                        <div class="title-6">Información de la plantilla</div>
                    </div>
                    <div class="box-white-wrapper">
                        <div class="columns">
                            <div class="item">
                                <label for="">Nombre</label>
                                <input type="text" name="" id="">
                            </div>
                            <div class="item">
                                <label for="">Idioma</label>
                                <feather type="search" class="search-icon"></feather>
                                <input type="text" name="" id="" class="indent-25">
                                <feather type="chevron-down" class="arrow" stroke-width="3"></feather>
                            </div>
                        </div>
                        <div class="item">
                            <label for="">Asunto</label>
                            <input type="text" name="" id="">
                        </div>
                        <div class="item">
                            <label for="">Mensaje</label>
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                        </div>
                        <div class="item">
                            <label for="">Anotación</label>
                            <input type="text" name="" id="">
                        </div>
                    </div>
                </tab-content>
                <tab-content title="Previsualización">
                    <div class="title-break">
                        <div class="title-6">Previsualización del mensaje</div>
                    </div>
                    <div class="box-white-wrapper">
                        <div class="item">
                            <label for="">Asunto</label>
                            <input type="text" name="" id="" disabled>
                        </div>
                        <div class="item">
                            <label for="">Mensaje</label>
                            <textarea name="" id="" cols="30" rows="10" disabled></textarea>
                        </div>
                    </div>
                </tab-content>
                <template slot="footer" slot-scope="props">
                    <div class=wizard-footer-left>
                        <a  v-if="props.activeTabIndex > 0"  @click="josue2()"><feather type="arrow-left" class="back-page" stroke-width="3"></feather> Retroceder</a>
                    </div>
                    <div class="wizard-footer-right">
                        <a href="javascript:void(0)" v-if="!props.isLastStep" @click="josue()" class="button-blue">Siguiente paso</a>
                        <a href="javascript:void(0)" v-else @click="onComplete()" class="button-blue">{{props.isLastStep ? 'Guardar plantilla' : ''}}</a>
                    </div>
                </template>
            </form-wizard>
        </div>
    </div>
</template>
<script>
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
import { FormWizard, TabContent } from 'vue-form-wizard'
export default {
  props: {},
  data () {
    return {
      activeTabIndex: 0
    }
  },
  components: {
    FormWizard,
    TabContent
  },
  mounted () {
    this.$refs.wizard.naMl = ((1 / this.$refs.wizard.tabs.length) * 100) / 2
    this.statusSubMenu(false, false)
  },
  methods: {
    onComplete: function () {
      alert('Yay. Done!')
    },
    josue (el, va) {
      // console.log('TabIndex ', this.$refs.wizard.activeTabIndex)
      this.$refs.wizard.tabs[this.$refs.wizard.activeTabIndex].checked = false
      // console.log(this.$refs.wizard.tabs[0])
      // this.$refs.wizard.progress = 2
      this.$refs.wizard.progressWidth = 80
      this.$refs.wizard.tabs[this.$refs.wizard.activeTabIndex].compl = true
      this.$refs.wizard.nextTab()
      // console.log(this.$refs.wizard.progress)
    },
    josue2 (el, va) {
      // this.$refs.wizard.naMl = 100
      this.$refs.wizard.tabs[this.$refs.wizard.activeTabIndex].compl = false
      this.$refs.wizard.tabs[this.$refs.wizard.activeTabIndex - 1].compl = false
      console.log('TabIndex ', this.$refs.wizard)
      this.$refs.wizard.tabs[this.$refs.wizard.activeTabIndex].checked = false
      // console.log(this.$refs.wizard.tabs[0])
      this.$refs.wizard.prevTab()
    },
    isLastStep () {
      if (this.$refs.wizard) {
        return this.$refs.wizard.isLastStep
      }
      return false
    },
    statusSubMenu (status, fixed) {
      this.$emit('statusSubMenu', status, fixed)
    }
  }
}
</script>
