<template>
    <div class="template-list">
        <div class="head">
            <div class="left">
               <router-link to="/templates"><feather type="arrow-left" class="back-page" stroke-width="3"></feather></router-link>
               <span class="title-3">Plantillas Itinerarios</span>
            </div>
            <SearchBar>
                <input type="text" v-on:keyup="searchQuotes()" v-model="searchKeyword" placeholder="Busca una plantilla" slot="inputSearch">
            </SearchBar>
        </div>
        <div class="wrap-tabs">
            <a href="" class="bg-color-2 color-2 status btnNewTemplate">Crear Plantilla</a>
            <div class="tabs-module templates-result-search" v-if="isFilter">
                <div class="block-title title-6">{{ countFilter }} Resultados disponibles</div>
                <tableList  :services="allTemplates" />
            </div>
            <b-tabs class="tabs-module" v-if="!isFilter">
                <template v-for="(item, index) in tempQuotes">
                    <b-tab :title="item.tabName"  :key="`tab-${index}`">
                        <tableList  :services="item.templates" />
                    </b-tab>
                </template>
            </b-tabs>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'
import SearchBar from '@/components/SearchBar.vue'
import tableList from '@/components/tables/Templates.vue'
export default {
  components: {
    SearchBar,
    tableList
  },
  data () {
    return {
      countFilter: 0,
      searchKeyword: null,
      isFilter: false,
      tempQuotes: this.dataTemplates,
      allTemplates: []
    }
  },
  computed: {
    ...mapState([
      'dataTemplates'
    ])
  },
  mounted () {
    this.tempQuotes = this.dataTemplates
    for (const dropdown of document.querySelectorAll('.custom-select-2-wrapper')) {
      dropdown.addEventListener('click', function () {
        this.querySelector('.custom-select-2').classList.toggle('open')
      })
    }
    for (const option of document.querySelectorAll('.custom-option')) {
      option.addEventListener('click', function () {
        if (!this.classList.contains('selected')) {
          this.parentNode.querySelector('.custom-option.selected').classList.remove('selected')
          this.classList.add('selected')
          this.closest('.custom-select-2').querySelector('.custom-select-2__trigger span').textContent = this.textContent
        }
      })
    }
    window.addEventListener('click', function (e) {
      for (const select of document.querySelectorAll('.custom-select-2')) {
        if (!select.contains(e.target)) {
          select.classList.remove('open')
        }
      }
    })
    this.statusSubMenu(false, false)
  },
  methods: {
    searchQuotes () {
      this.tempQuotes = this.dataTemplates
      this.initArrayQuotes()
      if (this.searchKeyword) {
        this.allTemplates = this.allTemplates.filter((item) => {
          return this.searchKeyword.toLowerCase().split(' ').every(v => item.title.toLowerCase().includes(v))
        })
        this.isFilter = true
        this.countFilter = this.allTemplates.length
      }
    },
    initArrayQuotes () {
      this.allTemplates = []
      this.isFilter = false
      for (var i = 0; i < this.dataTemplates.length; i++) {
        for (var x = 0; x < this.dataTemplates[i].templates.length; x++) {
          var allowAdd = this.allTemplates.filter((item) => {
            return this.dataTemplates[i].templates[x].code.toLowerCase().split(' ').every(v => item.code.toLowerCase().includes(v))
          })
          if (allowAdd.length < 1) {
            this.allTemplates.push(this.dataTemplates[i].templates[x])
          }
        }
      }
    },
    statusSubMenu (status, fixed) {
      this.$emit('statusSubMenu', status, fixed)
    }
  }
}
</script>
